<template>

    <div class="navbar">
        <div class="navbar-bg"></div>

        <div class="navbar-inner sliding">
                
          <div class="left">
            <a href="${libraryURL?.length > 0 ? libraryURL : baseURI() }">
              <i class="f7-icons">house</i>
            </a>
          </div>


          <div class="title">${title}</div>
          
          <div class="right">
            
            ${!hideMenu ? $h`
              
              <div class="small-only">

                <a href="#" class="link popover-open" data-popover=".popover-menu">
                  <i class="f7-icons">menu</i>
                </a> 
  
                <div class="popover popover-menu">
                  <div class="popover-angle"></div>
                  <div class="popover-inner">                    
                    <div class="list">
                      <ul>
  
                        ${showConnect ? $h`
          
                            <li>
                              <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        ${walletAddress != undefined ? $h`
                                          <a href="#" class="button button-fill">${truncateEthAddress(walletAddress)}</a>
                                      ` : $h`
                                          <button class="button button-outline button-fill" @click=${connectWallet}>
                                            Connect Wallet
                                          </button>
                                      `} 
                                    </div>
                                </div>
                              </div>
                            </li>
  
                            ${showMintPage ? $h`
                              <li>
                                <a href="${baseURI()}mint.html" class="item-link popover-close">
                                  <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">
                                            Mint
                                        </div>
                                    </div>
                                  </div>
                                </a>
                              </li>
                            ` : $h`<span />`}
  
                                
                          ` : $h`<span />`}
  
  
  
  
                        <li>
                          <a href="${getForkLink()}" class="item-link external popover-close">
                            <div class="item-content">
                              <div class="item-inner">
                                  <div class="item-title">
                                    Fork
                                  </div>
                              </div>
                            </div>
                          </a>
                        </li>
    
  
  
  
                        <li>
                          <a href="${baseURI()}explore.html" class="item-link popover-close">
                            <div class="item-content">
                              <div class="item-inner">
                                  <div class="item-title">
                                      Explore
                                  </div>
                              </div>
                            </div>
                          </a>
                        </li>
  
  
                        ${showActivityPage ? $h`
                          <li>
                            <a href="${baseURI()}activity" class="item-link popover-close">
                              <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        Activity
                                    </div>
                                </div>
                              </div>
                            </a>
                          </li>
  
                          <li>
                            <a href="${baseURI()}leaderboard" class="item-link popover-close">
                              <div class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">
                                        Leaderboard
                                    </div>
                                </div>
                              </div>
                            </a>
                          </li>
  
  
                        ` : $h`<span />`}
  
                      </ul>
                
                    </div>
        
                  </div>
                </div>
  
              </div>
  
              <div class="large-only">
    
                <a href="${getForkLink()}" class="external link">
                  Fork
                </a>
  
                <a class="link ${active == 'Explore' ? $h`link-active` : $h` `}" href="${baseURI()}explore.html">
                  Explore
                </a>      
  
                ${showActivityPage ? $h`
                  <a class="link ${active == 'Activity' ? $h`link-active` : $h` `}" href="${baseURI()}activity">
                    Activity
                  </a> 
  
                  <a class="link ${active == 'Leaderboard' ? $h`link-active` : $h` `}" href="${baseURI()}leaderboard" >
                    Leaderboard
                  </a> 
  
                ` : $h`<span />`}
  
                ${showConnect ? $h`
  
                  ${showMintPage ? $h`
                    <a class="link ${active == 'Mint' ? $h`link-active` : $h` `}" href="${baseURI()}mint.html" >
                      Mint
                    </a> 
                  ` : $h`<span />`}
  
                  ${walletAddress != undefined ? $h`
                      <a href="${baseURI()}u/?address=${walletAddress}" class="link" >${truncateEthAddress(walletAddress)}</a>
                  ` : $h`
                      <a class="link" @click="${connectWallet}">Connect Wallet</a>
                  `} 
       
                ` : $h`<span style="display: none;" />`}
  
              </div>
              
            ` : $h` `}
            
          </div>



          ${breadcrumbs ? $h`
                  
            <div class="subnavbar">
              <div class="subnavbar-inner">
        
                <div class="breadcrumbs ">
  
                  ${breadcrumbs.map( b => $h`
                    <div class="breadcrumbs-item">

                      ${b.path ? $h`
                        <a href="${b.path}" class="link">
                          ${b.text}
                        </a>
                      ` : $h`${b.text}`}


                    </div>  

                    ${b.path ? $h`
                      <div class="breadcrumbs-separator"></div>
                    ` : $h`<span />`}

                    
                  `)}

                </div>
        
              </div>
            </div>


            ` : $h`<span />`}



          
        </div>
        
    </div>

</template>
 


<script>


    export default (props, { $on, $f7, $update }) => {

        let walletService = globalThis.container.get("WalletService")
        let uiService = globalThis.container.get("UiService")

        let baseURI = globalThis.container.get("baseURI")
        let hostname = globalThis.container.get("hostname")

        let symbol = props.symbol
        let logo = props.logo
        let title = props.title
        let active = props.active
        let libraryURL = props.library_url
        let largeURL = props.large_url
        let showMintPage = props.show_mint_page == "true"
        let showActivityPage = props.show_activity_page == "true"
        let hideMenu = props.hide_menu == "true"
        let breadcrumbs = props.breadcrumbs
        
        let walletAddress
        let showConnect = true

        const getForkLink = () => {

          if (largeURL?.length > 0) {
            return `${largeURL}/index.html#!/admin/channel/fork-reader?path=${encodeURIComponent(`${hostname()}${baseURI()}`)}`
          } else {
            return `${baseURI()}large/index.html#!/admin/channel/fork-reader?path=${encodeURIComponent(`${hostname()}${baseURI()}`)}`
          }

        }




        const truncateEthAddress = (address) => {
            return walletService.truncateEthAddress(address)
        }

        const displayAddress = async (e) => {

            walletAddress = undefined

            if (!walletService.provider) {
                await walletService.initProvider()
            }

            walletAddress = await walletService.getAddress()

            //If no provider still then clear the address so we don't show the button
            if (!walletService.provider) {
                showConnect = false
            }

            if (walletAddress) {
              walletService.address = walletAddress

              if (!walletService.wallet) {
                await walletService.connect()
              }

            }



            $update()
        }

        const connectWallet = async (e) => {
       
            await walletService.initWallet()

            //Connect to metamask
            await walletService.connect()

            displayAddress()
        }

        displayAddress()


        const showPopoverMenu = async (e) => {
          
        }


        return $render
    }
</script>
