<template>

  <div class="toolbar toolbar-bottom">
    <div class="toolbar-inner">

        <div style="width: 100%; margin-bottom: -20px;">

            <div style="display: flex;">
            
                ${currentPage && tokenId == 0 ? $h`
                    <a href="${link(`t/${currentPage}`)}" class="button button-outline back-to-page">
                        Back to page ${currentPage}
                    </a>
                ` : $h`<span />`}
    
    
                <div class="range-slider range-slider-init" 
                    @range:change=${rangeChange}
                    data-label="true"
                    >
                
                    <!-- range input -->
                    <input type="range" 
                        min="0" 
                        max="${itemCount}"
                        step="1" 
                        value="${tokenId}" 
                        @change="${rangeSliderChange}"
                />
                </div>


            </div>

            <div class="page-number" style="width: 100%;">
                Page <strong>${tokenId}</strong> of ${itemCount}
            </div>


        </div>





    </div>
  </div>

</template>
 
<style>
.page-number {
    width: 100%;
    text-align: center;
    font-size: 13px;
    margin-bottom: 15px;
}

.range-slider {
    width: 100%;
    margin-left: 20px; 
    margin-right: 20px;
    flex: 1;
}

.toolbar a.back-to-page {
    height: 45px;
    width: 70px;
    margin-left: 10px;
    flex: 0 0 70px;
    font-size: 10px;
    text-transform: none;
    white-space: normal;
    line-height: 13px;
}
</style>


<script>


    export default (props, { $on, $, $f7, $update }) => {
    
        let baseURI = globalThis.container.get("baseURI")
        let readerSettingsService = globalThis.container.get("ReaderSettingsService")

        let tokenId = props.token_id
        let itemCount = props.item_count
        let currentPage = props.current_page

        const link = (href) => {
            return baseURI() + href
        } 

        const rangeSliderChange = async (e) => {

            e.preventDefault()

            let tokenId = $(e.currentTarget).val()

            $f7.preloader.show()

            if (tokenId > 0) {
                await readerSettingsService.updateCurrentPage(parseInt(tokenId))
                $f7.views.main.router.navigate(link('t/' + tokenId), { transition: 'f7-flip'})
            } else {
                $f7.views.main.router.navigate(link(`index.html`))
            }
            

            $f7.preloader.hide()


        }

        const rangeChange = (e) => {

            e.preventDefault()

            const range = $f7.range.get(e.target)

            tokenId = range.value

            $update()

        }

        app.on('current-page-updated', function (p) {
            currentPage = p
            $update()
        })

        return $render
    }
</script>
