<% 

    let hostname = it.hostname
    let baseURL = it.baseURL
    let libraryURL = it.libraryURL
    let routablePages = it.routablePages
    let base64Version = it.base64Version
    let channelId = it.channelId
%>

<% if (libraryURL) { %>

    <script type="module" id="page-scripts">

        let initLibrary = () => {

            let baseURL = '<%= baseURL %>'

            <% if (libraryURL) { %>
            let libraryURL = '<%= libraryURL %>'
            <% } %>

            let hostname = '<%= hostname %>'
            let version = atob('<%= base64Version %>').replace('"', '').replace('"', '')
            let channelId = '<%= channelId ? channelId : "" %>'    

            let app = library.initLibrary(libraryURL, baseURL, hostname, version, channelId)
        }

        initLibrary()

        
    </script>



<% } else { %>

    <script type="module" id="page-scripts">

        let init = () => {

            let baseURL = '<%= baseURL %>'
            let hostname = '<%= hostname %>'
            let version = atob('<%= base64Version %>').replace('"', '').replace('"', '')
            let channelId = '<%= channelId %>'    

            let app = reader.initReader(baseURL, hostname, version, channelId)
        }

        init()

    
        
    </script>


<% } %>    



