<!--suppress JSAnnotator -->

<template>
  <div id="app">


    <!-- Status bar overlay for fullscreen mode-->
    <div class="statusbar"></div>

    <div class="view view-main" >

      <${Toolbar} />

    </div>



  </div>

</template>


<script>

  import { ContainerService } from "../../service/core/container-service"

  import { UiService } from "../../service/core/ui-service"
  import { WalletService } from "../../service/core/wallet-service"
  import { SchemaService } from "../../service/core/schema-service"

  import Toolbar from "../../components/admin/toolbar.f7.html"


  export default (props, { $on, $f7ready, $f7, $f7router, $update }) => {

    $f7ready(async () => {

      let getHash = () => {
        return window.location.hash?.length > 2 ? window.location.hash.substring(2) : undefined
      }

      let baseURI = window.location.pathname
      let hash = getHash()

      let mainView

      let uiService = ContainerService.getInstance(UiService)
      let walletService = ContainerService.getWalletService()
      let schemaService = ContainerService.getInstance(SchemaService)

      let walletAddress

      const displayAddress = async (e) => {

          walletAddress = undefined

          if (!walletService.provider) {
              await walletService.initProvider()
          }

          walletAddress = await walletService.getAddress()

          if (walletAddress) {
            walletService.address = walletAddress

            if (!walletService.wallet) {
              await walletService.connect()
            }

          }

          await $update()
      }

      const connectWallet = async (e) => {
          
          await walletService.initWallet()

          //Connect to metamask
          await walletService.connect()

          await displayAddress()
      }


      document.addEventListener('connect-wallet', async (e) => {
        await connectWallet()
      })



      async function init() {

        uiService.showSpinner("Loading...")
        
        await schemaService.load()

      
        await displayAddress()


        mainView = $f7.views.create('.view-main', {
          url: hash ? hash : '/',
          browserHistory: true,
          browserHistoryRoot: baseURI,
          reloadCurrent: true
        })



        // mainView.router.navigate("/", { reloadCurrent : true })

        uiService.hideSpinner()


      }

      await init()




    })


    return $render
  }

</script>