
.collections-table a {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }


.collections-table title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.collections-table .avatar {
    width: 40px;
    height: 40px;
    font-size: 40px;
    border-radius: 25%;
    margin: 5px;
    vertical-align: middle;
}


.collections-table td.value, th.value {
    width: 140px;
}



.collections-table {
    width: 100%;
    min-width: 100%;
    font-size: 18px;
}