<% 

    let channelViewModel = it.baseViewModel.channelViewModel 
    let hostname = it.baseViewModel.hostname
    let baseURL = it.baseViewModel.baseURL
    let marketplaces = it.baseViewModel.marketplaces
    let externalLinks = it.baseViewModel.externalLinks
    let routablePages = it.baseViewModel.routablePages
    let attributeReport = it.baseViewModel.attributeReport
    let base64Version = it.baseViewModel.base64Version
    let channelId = it.baseViewModel.channelId
    let showMintPage = it.baseViewModel.showMintPage
    let staticPage = it.staticPage
    let showActivityPage = it.baseViewModel.showActivityPage
    let logo = it.baseViewModel.logo


    const link = (href) => {
        return `${baseURL + href}`
    }    


    const absoluteLink = (href) => {
        return `${hostname + baseURL + href}`
    }   


    let coverImageLink = channelViewModel.coverImage ? absoluteLink(`backup/${channelViewModel.coverImage.generated ? 'generated' : 'export'}/images/${channelViewModel.coverImage._id}.${channelViewModel.coverImage.generated ? 'png' : 'jpg'}`)  : ''


%>


<!DOCTYPE html>
<html lang="en">

<head>

    <%~ include("headStart", {baseURL: baseURL}) %>

    <style>
    html {
        visibility: hidden;
        opacity: 0;
    }
    </style>


    <title>
        <%= staticPage.name %>
    </title>
  

    <%~ 
      include("_meta_tags", {
        title: staticPage.name,
        url: `${staticPage.slug}.html`,
        imageUrl: coverImageLink,
        descriptionHTML: staticPage.contentHTML,
        hostname: hostname,
        baseURL: baseURL,
        excerptHtml: it.baseViewModel.excerptHtml,
        he: it.baseViewModel.he
      }) 
    %>


    <%~ it.baseViewModel.headEndContents %>
    
</head>

<body>

    <div id="app">
        <div class="view view-main">
            <div class="page" data-name="static-page-<%=staticPage._id %>">

                <nav-bar
                    logo="${logo}"
                    library_url="<%=it.baseViewModel.libraryURL ? it.baseViewModel.libraryURL : ''%>"
                    large_url="<%=it.baseViewModel.largeURL ? it.baseViewModel.largeURL : ''%>"
                    title="<%=staticPage.name%>"
                    show_mint_page="<%=showMintPage%>"
                    show_activity_page="<%=showActivityPage%>"
                    breadcrumbs="${breadcrumbs}"
                >
                </nav-bar>

                <div class="page-content">

                    <div class="fixed-width-content center">
                        
                        <div class="card">
                            <div class="card-content card-content-padding">
                                <%~ staticPage.contentHTML %>
                            </div>
                        </div>
    
                        <%~ include("footer", {baseURL: baseURL}) %>


                    </div>



                </div>

            </div>
        </div>
    </div>

    <%~ it.baseViewModel.bodyContents %>

    <script type="module" id="page-init-scripts">    

        const init = (props, { $, $f7, $h, $on, $update }) => {

            let channelWebService = globalThis.container.get("ChannelWebService")
            let baseURI = globalThis.container.get("baseURI")
            let hostname = globalThis.container.get("hostname")


            let owner

            let logo = JSON.parse(`<%~ JSON.stringify(logo ? logo : {})  %>`)


            let breadcrumbs = [{
                text: JSON.parse(`<%~ JSON.stringify(channelViewModel.channel.symbol)  %>`),
                path: baseURI()
            }, {
                text: "<%=staticPage.name%>"
            }]
            
            $on('pageInit', async () => {

                await channelWebService.loadChannel(
                        "<%= channelViewModel.channel._id %>",
                        '<%= baseURL %>',
                        '<%= hostname %>'
                )

                await $update()

            })          

            $on('pageBeforeOut', async () => {
            })

            <%~ 
                include("_meta_tags_js", {
                    title: staticPage.name,
                    url: `${staticPage.slug}.html`,
                    imageUrl: coverImageLink,
                    descriptionHTML: staticPage.contentHTML,
                    hostname: hostname,
                    baseURL: baseURL,
                    excerptHtml: it.baseViewModel.excerptHtml,
                    he: it.baseViewModel.he
                }) 
            %>


            document.querySelector('title').innerHTML = "<%= staticPage.name %>"

            $f7.preloader.hide()

            return $render;

        }


    </script>

    <%~ 
        include("_init", {
            hostname: hostname,
            baseURL: baseURL,
            libraryURL: it.baseViewModel.libraryURL,
            routablePages: routablePages,
            base64Version: base64Version,
            channelId: channelId
        }) 
    %>

</body>

</html>