<% 

    let channelViewModel = it.baseViewModel.channelViewModel 
    let hostname = it.baseViewModel.hostname
    let baseURL = it.baseViewModel.baseURL
    let marketplaces = it.baseViewModel.marketplaces
    let externalLinks = it.baseViewModel.externalLinks
    let routablePages = it.baseViewModel.routablePages
    let attributeReport = it.baseViewModel.attributeReport
    let base64Version = it.baseViewModel.base64Version
    let channelId = it.baseViewModel.channelId
    let showMintPage = it.baseViewModel.showMintPage
    let showActivityPage = it.baseViewModel.showActivityPage
    let logo = it.baseViewModel.logo

    const link = (href) => {
        return `${baseURL + href}`
    }    

    const absoluteLink = (href) => {
        return `${hostname + baseURL + href}`
    }   


    let coverImageLink = channelViewModel.coverImage ? absoluteLink(`backup/${channelViewModel.coverImage.generated ? 'generated' : 'export'}/images/${channelViewModel.coverImage._id}.${channelViewModel.coverImage.generated ? 'png' : 'jpg'}`)  : ''

%>


<!DOCTYPE html>
<html lang="en">

<head>

    <%~ include("headStart", {baseURL: baseURL}) %>


    <style>
    html {
        visibility: hidden;
        opacity: 0;
    }
    </style>


    <title>
        Transaction for <%=channelViewModel.channel.title%>
    </title>


    <%~ 
      include("_meta_tags", {
        title: `Transaction for ${channelViewModel.channel.title}`,
        url: 'transaction',
        imageUrl: coverImageLink,
        descriptionHTML: `Transaction for ${channelViewModel.channel.title}`,
        hostname: hostname,
        baseURL: baseURL,
        excerptHtml: it.baseViewModel.excerptHtml,
        he: it.baseViewModel.he
      }) 
    %>

    <meta property="og:title" content="Transaction for <%=channelViewModel.channel.title%>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= link(`transaction`) %>" />
    <meta property="og:image" content="<%= absoluteLink(`backup/export/images/${channelViewModel.channel.coverImageId}.jpg`) %>" />
    <meta property="og:description" content="Transaction for <%=channelViewModel.channel.title%>" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="<%= link(`transaction`) %>" />
    <meta property="twitter:title" content="Transaction for <%=channelViewModel.channel.title%>" />
    <meta property="twitter:description" content="Transaction for <%=channelViewModel.channel.title%>" />
    <meta property="twitter:image" content="<%= absoluteLink(`backup/export/images/${channelViewModel.channel.coverImageId}.jpg`) %>" />

    <%~ it.baseViewModel.headEndContents %>
    
</head>

<body>

    <div id="app">

        <div class="view view-main">

            <div class="page" data-name="transaction">

                <nav-bar
                    logo="${logo}"
                    library_url="<%=it.baseViewModel.libraryURL ? it.baseViewModel.libraryURL : ''%>"
                    large_url="<%=it.baseViewModel.largeURL ? it.baseViewModel.largeURL : ''%>"
                    title="Transaction"
                    active="Transaction"
                    show_mint_page="<%=showMintPage%>"
                    show_activity_page="<%=showActivityPage%>"
                >
                </nav-bar>


                <div class="page-content">

                    <div class="row">
            
                        <div class="fixed-width-content center">
                            <transaction-viewer></transaction-viewer> 
                        </div>
                    </div>
            
                </div>
              
            
            </div>

        </div>

    </div>

    <%~ it.baseViewModel.bodyContents %>

    <script type="module" id="page-init-scripts">

        const init = (props, { $, $f7, $h, $on, $update }) => {


            let channelWebService = globalThis.container.get("ChannelWebService")

            
            let baseURI = globalThis.container.get("baseURI")
            let hostname = globalThis.container.get("hostname")

            let logo = JSON.parse(`<%~ JSON.stringify(logo ? logo : {})  %>`)


            // let eventWebService = globalThis.container.get("EventWebService")

            $on('pageInit', async () => {

                // let activityStartChangedEvent = new CustomEvent('user-address-changed')
                // activityStartChangedEvent.address = $f7.views.main.router.currentRoute?.query?.address

                // document.dispatchEvent(activityStartChangedEvent)

                // await $update()

            })

            $on('pageReinit', async () => {

                // let activityStartChangedEvent = new CustomEvent('user-address-changed')
                // activityStartChangedEvent.address = $f7.views.main.router.currentRoute?.query?.address

                // document.dispatchEvent(activityStartChangedEvent)

                // await $update()

            })


            $on('pageBeforeOut', async () => {

            })

            <%~ 
                include("_meta_tags_js", {
                    title: `Transaction for ${channelViewModel.channel.title}`,
                    url: 'transaction',
                    imageUrl: coverImageLink,
                    descriptionHTML: `Transaction for ${channelViewModel.channel.title}`,
                    hostname: hostname,
                    baseURL: baseURL,
                    excerptHtml: it.baseViewModel.excerptHtml,
                    he: it.baseViewModel.he
                }) 
            %>


            document.querySelector('title').innerHTML = "Transaction <%=channelViewModel.channel.title%>"

            $f7.preloader.hide()

            return $render

        }


    </script>

    <%~ 
            include("_init", {
                hostname: hostname,
                baseURL: baseURL,
                libraryURL: it.baseViewModel.libraryURL,
                routablePages: routablePages,
                base64Version: base64Version,
                channelId: channelId
            }) 
    %>

</body>

</html>