<!--suppress JSAnnotator -->
<template>

    <div class="page" data-name="publish">
  
      <${Navbar} breadcrumbs=${breadcrumbs}  />
  
      <div class="page-content hide-toolbar-on-scroll">

        <div class="fixed-width-content center">

          ${channelViewModel.itemCount > 0 ? $h`
              
            ${walletService?.address ? $h`
              <div class="block-title">Verify Mint Info</div>
              <div class="card">
                <div class="card-content">
                  <div class="card-content card-content-padding">
  
                    <p>
                      <strong>Mint Price:</strong> ${channelViewModel.channel.mintPrice} ETH each
                    </p>
  
                    <p>
                      <strong>Royalty:</strong> ${channelViewModel.channel.royaltyPercent}% 
                    </p>
  
                  </div>
                </div>
              </div>
              
              <div class="block-title">Deploy Contract</div>
              <div class="card">
                <div class="card-content">
                  <div class="card-content card-content-padding">
  
                    ${showDeploy ? $h`
  
                      <div class="pin-status">
                        <p><strong>IPFS Hash:</strong> ${channelViewModel.channel.publishReaderIPFSStatus?.cid}</p>
                        <p><strong>Date Exported:</strong> ${moment(channelViewModel.channel.publishReaderIPFSStatus?.date).format('MMMM Do YYYY, h:mm:ss a')}</p>
                      </div>
  
  
                      ${channelViewModel.channel.contractAddress ? $h`
                        <p>
                          <strong>Current Contract Address:</strong> ${channelViewModel.channel.contractAddress} 
                          <a @click="${resetContract}" class="button button-fill button-small deploy-button">Reset</a>
                        </p> 
                      ` : $h`<span/>`}
  
  
                      ${deploying ? $h`
                        <p>Deploying...</p>
                      ` : $h`
                      
                        ${!channelViewModel.channel.contractAddress ? $h`
                          <button class="button button-fill button-small deploy-button" @click="${deployContractClick}">Deploy Contract</button>
                        ` : $h`
                          
                          <h1>Success!</h1>
                          
                          <p>
                            After deploying the contract the Reader can be re-published and it will become aware of Ethereum and show users the 
                            appropriate controls to begin minting NFTs.
                          </p>
                          <a href="#" class="button button-outline button-small deploy-button" @click="${pushContractToGitClick}">Push Contract Info To Git</a>
  
  
                        `}                        
                      `}
                      
                    ` : $h`
                      <p>Collection must be deployed to IPFS</p>
                    `}
                  </div>
                </div>
              </div>
              
            ` : $h`
              <div class="card">
                <div class="card-content card-content-padding">
                  <p>Use a web browser with wallet support to deploy an ERC-721 smart contract.</p>
                </div>
              </div>
            
            `}
  
  
          ` : $h`
            <div class="card">
              <div class="card-content card-content-padding">
                <p>Add NFTs to the collection before publishing.</p>
              </div>
            </div>
            
          `}


        </div>

        

      </div>
  
    </div>
  
  </template>
  
  <style>

  </style>
  
  <script>
  
    import moment from "moment"
  
    import { ContainerService } from "../../../service/core/container-service"
    import { ChannelService } from "../../../service/channel-service"
    import { PublishService } from "../../../service/core/publish-service"

    import { PinningService } from "../../../service/core/pinning-service"
    import { GitlabService } from "../../../service/core/gitlab-service"

    import { QueueService } from   "../../../service/core/queue-service"

    import { IpfsService } from "../../../service/core/ipfs-service"


    import Navbar from "../../admin/navbar.f7.html"
    
  
    export default (props, { $, $h, $on, $f7, $update }) => {
  
        let channelService = ContainerService.getInstance(ChannelService)
        let pinningService = ContainerService.getInstance(PinningService)
        let ipfsService = ContainerService.getInstance(IpfsService)
        let queueService = ContainerService.getInstance(QueueService)
        let gitlabService = ContainerService.getInstance(GitlabService)
        let publishService = ContainerService.getInstance(PublishService)
        let walletService

        let channelViewModel = props.channelViewModel

        let deploying = false 

        let showDeploy = channelViewModel.channel.localCid != undefined

        let breadcrumbs = [{
            text: "Home",
            path: "/"
        },{
            text: channelViewModel.channel.title,
            path: `/admin/channel/show/${channelViewModel.channel._id}`
        }, {
            text: 'Publish',
            path: `/admin/publish/${channelViewModel.channel._id}`
        }, {
            text: 'Deploy Contract'
        }]


        $on('pageInit', async (e, page) => {
          walletService = ContainerService.getWalletService()

          await $update()

        })


        const deployContractClick = async (e) => {

          deploying = true
          await $update()
          
          let promiseView = {
            title: `Deploying contract ${name}. Approve transaction and wait for it to be mined.`,
            promise: publishService.deployContract(channelViewModel.channel)
          }

          //Wait for it to be mined
          await queueService.queuePromiseView(promiseView)
          
          deploying = false
          await $update()
        }

        const pushContractToGitClick = async (e) => {

          e.preventDefault()

          let elem = document.getElementsByClassName('card-content-padding')[1]

          $f7.preloader.showIn(elem)

          try {
            await publishService.exportContract(channelViewModel.channel)

            $f7.dialog.alert("Git repo updated with contract info.", "Success")


          }catch(ex) {
            console.log(ex)
            $f7.dialog.alert(ex.errors, "There was an error")
          }


          $f7.preloader.hideIn(elem)


        }

        const resetContract = async (e) => {

          channelViewModel.channel.contractAddress = undefined

          await channelService.put(channelViewModel.channel)

          channelViewModel.channel = await channelService.get(channelViewModel.channel._id)

          $update()

        }


        return $render
    }
  </script>