<!--suppress JSAnnotator -->
<template>

  <div class="page" data-name="publish">

    <${Navbar} breadcrumbs=${breadcrumbs}  />

    <div class="page-content hide-toolbar-on-scroll">

      <div class="fixed-width-content center">

        ${showForm ? $h`

          <div class="block-title">Create/Connect Git Repository</div>
          <div class="card">
  
            <div class="card-content card-content-padding">
              <form id="fork-reader" @submit="${createForkSubmit}">
  
                ${forking ? $h`
                  <div class="forking-label">
                    Forking...
                  </div>
  
                  <div class="preloader"></div>
  
                ` : $h`
  
  
                  <div class="forking-label" style="display:none;"></div>
  
  
                  ${channelViewModel.channel.publishReaderRepoId ? $h`
                    <div class="repo-status">
  
                      <p><strong>Current Repo:</strong> ${channelViewModel.channel.httpUrlToRepo ? $h`
                        <a href="${channelViewModel.channel.httpUrlToRepo}" class="link external" target="_blank">${channelViewModel.channel.httpUrlToRepo}</a>
                        ` : $h` `}</p>
  
                      <p><strong>Configured Provider:</strong> ${channelViewModel?.gitProvider?.name}</p>
  
                      <p><strong>Repo ID:</strong> ${channelViewModel.channel.publishReaderRepoId}</p>
                      <p><strong>Branch:</strong>   ${channelViewModel.channel.publishReaderRepoBranch}</p>
                      <p><strong>Repo Path:</strong> ${channelViewModel.channel.publishReaderRepoPath}</p>
                      <p><strong>Job Status:</strong> ${channelViewModel.channel.publishReaderRepoStatus}</p>
                    </div>
                  ` : $h`<span />`}
  
  
  
                  <div class="block cancel-save-row">
        
                    <div class="large-only"></div>
      
                    <a href="/admin/publish/${channelViewModel.channel._id}" class="button button-outline color-gray" tabindex="30">
                      Back to menu
                    </a>
  
                    <button type="submit" class="button button-fill" tabindex="31">
                      Create/Connect Fork
                    </button>
      
                  </div>
  
                `}
  
              </form>
            </div>
  
          </div>    
  
        ` : $h`
  
            ${!hasItems ? $h`
                
              <div class="card">
                <div class="card-content card-content-padding">
                  <p>Add NFTs to the collection before publishing.</p>
                </div>
              </div>
  
            ` : $h` `}
  
            ${!gitConfigured ? $h`
              
              <div class="card">
                <div class="card-content card-content-padding">
                  <p>Configure a <a href="/admin/settings">git provider</a> to deploy the reader.</p>
                </div>
              </div>
  
            ` : $h` `}

    
        `}

      </div>


      

    </div>

  </div>

</template>

<style>
  .publish-label,
  .ipfs-label,
  .forking-label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
  }

  .publish-output {
    border: 1px solid #cccccc;
    font-size: 13px;
    width: 100%;
    max-width: 100%;
    padding: 5px;
    height: 300px;
    overflow-y: scroll;
  }

  #fork-next-button {
    width: 200px;
  }
</style>

<script>

  import moment from "moment"

  import { ContainerService } from "../../../service/core/container-service"
  import { ChannelService } from "../../../service/channel-service"
  import { PublishService } from "../../../service/core/publish-service"

  import { PinningService } from "../../../service/core/pinning-service"
  import { GitService } from "../../../service/core/git-service"

  import { QueueService } from "../../../service/core/queue-service"

  import { IpfsService } from "../../../service/core/ipfs-service"


  import Navbar from "../../admin/navbar.f7.html"


  export default (props, { $, $h, $on, $f7, $update }) => {

    let channelService = ContainerService.getInstance(ChannelService)
    let pinningService = ContainerService.getInstance(PinningService)
    let ipfsService = ContainerService.getInstance(IpfsService)
    let queueService = ContainerService.getInstance(QueueService)
    let gitService = ContainerService.getInstance(GitService)

    let publishService = ContainerService.getInstance(PublishService)

    let channelViewModel = props.channelViewModel
    let settings = props.settings

    let pageUnloaded = false

    let forking = false
    
    let hasItems = channelViewModel.itemCount > 0 
    let gitConfigured = channelViewModel?.gitProvider?.personalAccessToken?.length > 0
    let showForm = hasItems && gitConfigured 

    let breadcrumbs = [{
            text: "Home",
            path: "/"
    },{
      text: channelViewModel.channel.title,
      path: `/admin/channel/show/${channelViewModel.channel._id}`
    }, {
      text: 'Publish',
      path: `/admin/publish/${channelViewModel.channel._id}`
    }, {
      text: 'Create Git Repository'
    }]

    $on('pageInit', async () => {

      pageUnloaded = false

      await $update()

      await checkPublishRepoStatus()
    })

    $on('pageAfterOut', (e, page) => {
      console.log("Unloading page")
      pageUnloaded = true
    })

    const createForkSubmit = async (e) => {

      e.preventDefault()

      forking = true

      await $update()

      let elem = document.getElementsByClassName('content-card-padding')[0]
      $f7.preloader.showIn(elem)


      let response

      try {

        response = await gitService.createFork(channelViewModel.channel)

        channelViewModel.channel.publishReaderRepoId = response.id
        channelViewModel.channel.publishReaderRepoPath = response.path
        channelViewModel.channel.publishReaderRepoBranch = response.branch
        channelViewModel.channel.publishReaderRepoStatus = "pending"

        await channelService.put(channelViewModel.channel)

      } catch (ex) {

        $f7.preloader.hideIn(elem)

        console.log(ex)

        if (ex.toString() == "Error: Request failed with status code 409") {
          $f7.dialog.alert("Git repo already exists with that name.", "There was an error")
        } else {
          $f7.dialog.alert(ex, "There was an error")
        }

      }

      forking = false

      await $update()

      await checkPublishRepoStatus()


    }

    const checkPublishRepoStatus = async (e) => {

      if (pageUnloaded) return
      if (!settings) return
      if (channelViewModel.channel.publishReaderRepoStatus == "complete" && channelViewModel.channel.publishReaderRepoId > 0) return
      if (forking) return

      console.log('Checking repo fork status...')

      channelViewModel.channel = await channelService.get(channelViewModel.channel._id)

      let forkRepoStatus = await gitService.getForkRepoStatus(channelViewModel.channel)

      if (forkRepoStatus == "finished") { //TODO

        //Grab the URL
        let forkResult = await gitService.getExistingFork(channelViewModel.channel)

        channelViewModel.channel.publishReaderRepoStatus = "complete"
        channelViewModel.channel.httpUrlToRepo = forkResult.httpUrlToRepo

        await channelService.put(channelViewModel.channel)

        let elem = document.getElementsByClassName('content-card-padding')[0]
        $f7.preloader.hideIn(elem)


      }

      await $update()

      if (channelViewModel.channel.publishReaderRepoStatus != "complete") {
        setTimeout(checkPublishRepoStatus, 5000)
      }

    }



    return $render
  }
</script>