<% 

    let channelViewModel = it.baseViewModel.channelViewModel 
    let hostname = it.baseViewModel.hostname
    let baseURL = it.baseViewModel.baseURL
    let marketplaces = it.baseViewModel.marketplaces
    let externalLinks = it.baseViewModel.externalLinks
    let routablePages = it.baseViewModel.routablePages
    let attributeReport = it.baseViewModel.attributeReport
    let base64Version = it.baseViewModel.base64Version
    let channelId = it.baseViewModel.channelId
    let showMintPage = it.baseViewModel.showMintPage
    let showActivityPage = it.baseViewModel.showActivityPage
    let logo = it.baseViewModel.logo

    const link = (href) => {
        return `${baseURL + href}`
    }   


    const absoluteLink = (href) => {
      return `${hostname + baseURL + href}`
    }   
    
    const escapeExcerpt = (excerpt) => {
      excerpt = baseViewModel.excerptHtml(excerpt, { pruneLength: 500 })
      return baseViewModel.he.encode(excerpt.toString())
    }

    const marketplaceLink = (marketplace) => {

      let link = marketplace.link 

      //Replace contract if we find it 
      if (channelViewModel.channel.contractAddress) {
        link = link.replace("{contractId}", channelViewModel.channel.contractAddress)
      }

      return link
    }

%>

<!DOCTYPE html>
<html>

  <head>

    <%~ include("headStart", {baseURL: baseURL}) %>


    <style>
      html {
        visibility: hidden;
        opacity: 0;
      }
    </style>

    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar -->
    <title>
      404 Page Not Found
    </title>


    <%~ it.baseViewModel.headEndContents %>
    

  </head>

  <body>

    <div id="app">

      <div class="view view-main">

        <div class="page" data-name="home">

          <nav-bar
            logo="${logo}"
            library_url="<%=it.baseViewModel.libraryURL ? it.baseViewModel.libraryURL : ''%>"
            large_url="<%=it.baseViewModel.largeURL ? it.baseViewModel.largeURL : ''%>"
            title="<%=channelViewModel.channel.title%>"
            show_mint_page="<%=showMintPage%>"
            show_activity_page="<%=showActivityPage%>"
          >
          </nav-bar>

          


          <div class="page-content">

            <div class="row">

              <div class="col-100 large-75">


                <div class="block block-strong inset col-100 no-margin-bottom">
                  <div class="breadcrumbs ">
                    <div class="breadcrumbs-item breadcrumbs-item-active">
                      Home
                    </div> 
                  </div>
                </div>


                <div class="card">

                  <div class="card-content card-content-padding">
                    404 Page not found.
                  </div>

                </div>

              </div>

              <div class="col-100 large-25">                



              </div>
              
            </div>

          </div>

        </div>

      </div>

    </div>

    <%~ it.baseViewModel.bodyContents %>
    
    <script type="module" id="page-init-scripts">

      const init = (props, { $, $f7, $h, $on, $update }) => {
              

            let channelWebService = globalThis.container.get("ChannelWebService")
            let baseURI = globalThis.container.get("baseURI")
            let hostname = globalThis.container.get("hostname")

            let logo = JSON.parse(`<%~ JSON.stringify(logo ? logo : {})  %>`)


            $on('pageInit', async () => {

              await channelWebService.loadChannel(
                      "<%= channelViewModel.channel._id %>",
                      '<%= baseURL %>',
                      '<%= hostname %>'
              )


            })

            $f7.preloader.hide()

            return $render;
      }


    </script>

    <%~ 
      include("_init", {
        hostname: hostname,
        baseURL: baseURL,
        libraryURL: it.baseViewModel.libraryURL,
        routablePages: routablePages,
        base64Version: base64Version,
        channelId: channelId
      }) 
    %>

  </body>

</html>