<!--suppress JSAnnotator -->
<template>
    <div class="page" data-name="profile-edit">

        <${Navbar} breadcrumbs=${breadcrumbs} active="profile" />


        <div class="page-content hide-toolbar-on-scroll">

            <div class="block-title block-title-medium">Edit Profile</div>
            <form id="edit-author-form" @submit="${formSubmit}">

                <input type="hidden" name="_id" value="${authorViewModel.author._id}" />
                <input type="hidden" name="_rev" value="${authorViewModel.author._rev}" />

                <input type="hidden" name="walletAddress" value="${authorViewModel.author.walletAddress}" />

                <div class="card">
                    <div class="card-content">
                        <div class="list">
                            <ul>
        
                                <li>
                                    <div class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="item-title item-label">Avatar</div>
                                            <div class="item-input-wrap">
            
                                                ${authorViewModel.authorPhoto ? $h`
                                                <img class="author-photo-preview"
                                                    src="${authorViewModel.authorPhoto.url}" />
                                                ` : $h`
                                                <i class="material-icons author-photo-preview">image</i>
                                                `}
            
                                                <input type="button" class="button button-fill browse-file" value="Browse"
                                                    @click="${handleAuthorPhotoBrowseClick}" tabindex="1" />
                                                <input type="hidden" name="coverPhotoId"
                                                    value="${authorViewModel?.authorPhoto?.cid}" />
                                                <input type="file" id="author-photo-browse" style="display: none"
                                                    @change="${handleAuthorPhotoChange}" />
            
                                            </div>
                                        </div>
                                    </div>
                                </li>
            
                                <li>
                                    <div class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="item-title item-label">Name</div>
                                            <div class="item-input-wrap">
                                                <input type="text" name="name" value="${authorViewModel.author.name}" placeholder="Enter your name" tabindex="2" />
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content item-input">
                                        <div class="item-inner">
                                            <div class="item-title item-label">Description</div>
                                            <div class="item-input-wrap">
                                                <textarea name="description" placeholder="Enter a short bio" tabindex="3">${authorViewModel.author.description}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </li>
            
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="block cancel-save-row">

                    <div class="large-only"></div>

                    <a href="/admin/author/show/${authorViewModel.author.walletAddress}" class="button button-outline color-gray" tabindex="4">Cancel</a>
      
                    <button type="submit" class="button button-fill" tabindex="5">
                      Save
                    </button>
      
                </div>


            </form>

        </div>

    </div>
</template>

<style>
    .author-photo-preview {
        max-width: 100%;
        max-height: 200px;
        border: 1px solid #cccccc;
        padding: 5px;
        margin-bottom: 10px;
    }
</style>


<script>

    import { ContainerService } from "../../../service/core/container-service"
    import { UploadService } from "../../../service/core/upload-service"

    import { AuthorService } from "../../../service/author-service"
    import { ImageService } from "../../../service/image-service"

    import { Author } from "../../../dto/author"

    import Navbar from "../../admin/navbar.f7.html"


    export default (props, { $, $on, $f7, $update }) => {

        let uploadService = ContainerService.getInstance(UploadService)
        let imageService = ContainerService.getInstance(ImageService)
        let authorService = ContainerService.getInstance(AuthorService)
        let walletService = ContainerService.getWalletService()



        let authorViewModel = props.authorViewModel

        let breadcrumbs = [{
            text: "Home",
            path: "/"
        }, {
            text: walletService.truncateEthAddress(authorViewModel.author.walletAddress),
            path: `/admin/author/show/${authorViewModel.author.walletAddress}`
        },
        {
            text: 'Edit Profile'
        }]


        const formSubmit = async (e) => {

            e.preventDefault()

            //Get data
            let author = Object.assign(new Author(), $f7.form.convertToData('#edit-author-form'))

            //Save
            try {

                await authorService.put(author)

                const toast = $f7.toast.show({
                    text: 'Profile Saved',
                    closeTimeout: 2000,
                    closeButton: true,
                    position: 'bottom',
                    horizontalPosition: 'left'
                })

                //Redirect
                $f7.views.main.router.navigate(`/admin/author/show/${author._id}`)

            } catch (ex) {
                console.log(ex)
                $f7.dialog.alert(ex.errors, "There was an error")
            }

        }



        const handleAuthorPhotoBrowseClick = async (e) => {
            $("#author-photo-browse").click()
        }

        const handleAuthorPhotoChange = async (e) => {

            let imageBuffer = await uploadService.uploadFile(document.getElementById('author-photo-browse'))

            let image = await imageService.newFromBuffer(imageBuffer)

            try {
                //Could be a duplicate. Which means it's fine.
                await imageService.put(image)
            } catch (ex) { }

            authorViewModel.authorPhoto = {
                cid: image.cid,
                url: await imageService.getUrl(image)
            }

            $update()
        }


        return $render
    }

</script>