<!--suppress JSAnnotator -->
<template>

  <div class="page" data-name="admin-create-channel">

    <${Navbar} breadcrumbs=${breadcrumbs} />

    <div class="page-content hide-toolbar-on-scroll">

        <!-- Slider container -->
        <div class="swiper" id="create-new-swiper">

          <!-- Slides wrapper -->
          <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">
                
                <div class="fixed-width-content center">

                  <div class="block-title block-title-medium no-margin-bottom margin-top">Choose your features and licensing</div>

                  <div class="block split-row">
  
                    <div class="block copyright-block no-margin-bottom">
  
                      <strong>Copyright</strong>
  
                      <ul>
                        <li>Use your own licensing terms.</li>
                        <li>Restrict who can host the content (DMCA).</li>
                      </ul>
  
                      <button class="button color-red button-outline" @click="${copyrightClick}">Disable forking</button>
                      
                    </div>
  
                    <div class="block copyleft-block">
  
                      <strong>Copyleft</strong>
  
                      <ul>
                        <li>Free as in speech.</li>
                        <li>Allow sharing, remixes, and derivatives.</li>
                        <li>Anyone can host the content.</li>
                        <li><a href="https://creativecommons.org/share-your-work/public-domain/cc0/"></a>CC0 Content</li>
                      </ul>
  
                      <button class="button button-fill" @click="${copyleftClick}">Enable all features</button>
  
                    </div>
  
                  </div>
                  
                </div>

              </div>

              <div class="swiper-slide">

                <form id="create-channel-form" @submit="${formSubmit}" class="fixed-width-content center">
      
                  <div class="block-title block-title-medium">Create Collection</div>


                  <${ChannelForm} 
                    channel=${channelViewModel} 
                    description_editor="create-channel-description-editor"
                    description_toolbar="create-channel-description-toolbar" 
                    license_editor="create-channel-license-editor"
                    license_toolbar="create-channel-license-toolbar" 
                  />
      
                  <div class="block cancel-save-row">
      
                    <div class="large-only"></div>
      
                    <a href="/admin/channel/create-menu" class="button button-outline color-gray" tabindex="30">
                      Cancel
                    </a>

                    <button type="submit" class="button button-fill" tabindex="31" id="saveButton">
                      Save
                    </button>
      
                  </div>
      
                </form>
      
              </div>

              <!-- Pagination, if required -->
              <div class="swiper-pagination"></div>
          </div>

        </div>

    </div>
  </div>

</template>

<style>



</style>


<script>

  import { ContainerService } from "../../../service/core/container-service"
  import { UiService } from "../../../service/core/ui-service"

  import { WalletService } from "../../../service/core/wallet-service"
  import { QuillEditorService, CustomImageSpec } from "../../../service/quill-editor-service"

  import { AuthorService } from "../../../service/author-service"

  import { ChannelService } from "../../../service/channel-service"
  import { ChannelWebService } from "../../../service/web/channel-web-service"

  import { Channel } from "../../../dto/channel"
  import { Author } from "../../../dto/author"

  import Navbar from "../../admin/navbar.f7.html"
  import ChannelForm from "../../admin/channel/form.f7.html"


  import hljs from "highlight.js"
  import Quill from 'quill'

  import { ethers } from "ethers"
  import Tagify from '@yaireo/tagify'

  import { v4 as uuidv4 } from 'uuid';


  export default (props, { $, $on, $f7, $update }) => {

    let channelService = ContainerService.getInstance(ChannelService)
    let channelWebService = ContainerService.getInstance(ChannelWebService)
    let authorService = ContainerService.getInstance(AuthorService)
    let quillEditorService = ContainerService.getInstance(QuillEditorService)
    let uiService = ContainerService.getInstance(UiService)
    let walletService = ContainerService.getWalletService()

    let licenseQuillEditor

    let breadcrumbs = [{
        text: "Home",
        path: "/"
    }, {
      text: 'Create & Import',
      path: '/admin/channel/create-menu'
    }, {
      text: 'Create Collection'
    }]

    let swiper

    hljs.configure({
      languages: ['css']
    })


    let channelViewModel = {
      channel: {
        mintPrice: "0.00",
        royaltyPercent: "0",
        authorId: walletService.address
      },

      themes: [],
      staticPages: [],
      editable: true,
      disableForks: false
    }

    let coverImage
    let coverBanner


    const formSubmit = async (e) => {

      e.preventDefault()

      let form = document.getElementById('create-channel-form')

      if (!form.checkValidity()) {
        $f7.popup.open('.edit-basics-popup')
        return
      }


      //Get data
      let channel = Object.assign(new Channel(), $f7.form.convertToData('#create-channel-form'))

      //Get content from quill
      channel.description = quillEditorService.activeEditor.getContents()
      channel.license = licenseQuillEditor.getContents()

      //Convert numbers
      channel.sellerFeeBasisPoints = parseInt(channel.sellerFeeBasisPoints)

      //Parse attributeOptions and category
      if (channel.attributeOptions) {
        channel.attributeOptions = JSON.parse(channel.attributeOptions)
      } else {
        channel.attributeOptions = []
      }

      if (channel.externalLinks) {
        channel.externalLinks = JSON.parse(channel.externalLinks)
      } else {
        channel.externalLinks = []
      }

      if (channel.marketplaces) {
        channel.marketplaces = JSON.parse(channel.marketplaces)
      } else {
        channel.marketplaces = []
      }


      //If the author doesn't exist insert a 
      if (channel.authorId) {
        await authorService.insertIfNew(channel.authorId)
      }

      channel.disableForks = channel.disableForks == "true"
      channel.showMintPage = channel.showMintPage == "true"
      channel.showActivityPage = channel.showActivityPage == "true"

      //Save
      try {

        await channelWebService.put(channel, coverImage, coverBanner)

        const toast = $f7.toast.show({
          text: 'Collection saved',
          closeTimeout: 2000,
          closeButton: true,
          position: 'bottom',
          horizontalPosition: 'left'
        })


        //Redirect
        $f7.views.main.router.navigate(`/admin/channel/show/${channel._id}`)

      } catch (ex) {
        console.log(ex)
        $f7.dialog.alert(ex.errors, "There was an error")
      }

    }

    $on('pageInit', async (e, page) => {

      $('#create-channel-form').attr('novalidate','novalidate')


      //Make sure quill is configured
      await quillEditorService.init()

      // //Categories
      // let categoryTagify = new Tagify(document.getElementById('category'))

      //Description
      quillEditorService.buildQuillPostEditor("#create-channel-description-editor", "#create-channel-description-toolbar")

      //License
      licenseQuillEditor = new Quill('#create-channel-license-editor', {
        bounds: ".page-content",
        modules: {
          toolbar: '#create-channel-license-toolbar',
        },
        theme: "snow"
      })

      //Init swiper
      swiper = $f7.swiper.create('.swiper', {
        speed: 1000,
        allowTouchMove: false,
        createElements:true,
        longSwipes: false,
        preventInteractionOnTransition: true,
        shortSwipes: false,
        simulateTouch: false,
        on: {
          slideChange: function (s) {
            
            if (s.activeIndex == 0) {
              document.getElementById('create-new-swiper').style.height = "700px"
            } 

            if (s.activeIndex == 1) {
              document.getElementById('create-new-swiper').style.height = "2500px"
            }

          }
        }
      })




    })


    const copyrightClick = async (e) => {

      channelViewModel.channel.disableForks = true

      await $update()
      swiper.slideNext(1000)

    }

    const copyleftClick = async (e) => {

      channelViewModel.channel.disableForks = false

      await $update()
      swiper.slideNext(1000)
    }

    const backClick = async (e) => {
      swiper.slidePrev(1000)
    }



    $(document).on('cover-image-updated', async (e) => {
        coverImage = e.detail.coverImage
    })

    $(document).on('cover-banner-updated', async (e) => {
        coverBanner = e.detail.coverBanner
    })


    return $render
  }

</script>