<!--suppress JSAnnotator -->
<template>

  <div class="page" data-name="admin-edit-channel">

    <${Navbar} breadcrumbs=${breadcrumbs} />

    <div class="page-content hide-toolbar-on-scroll">

      <form id="edit-channel-form" @submit="${formSubmit}" class="fixed-width-content center">

        <div class="block-title block-title-medium">Edit Collection</div>


        <${ChannelForm} 
          channel=${channelViewModel} 
          description_editor="edit-channel-description-editor"
          description_toolbar="edit-channel-description-toolbar" 
          license_editor="edit-channel-license-editor"
          license_toolbar="edit-channel-license-toolbar"  
        />



        <div class="block cancel-save-row">
      
          <div class="large-only"></div>

          <a href="/admin/channel/show/${channelViewModel.channel._id}" class="button button-outline color-gray" tabindex="30">
            Cancel
          </a>

          <button type="submit" class="button button-fill" tabindex="31" id="saveButton">
            Save
          </button>

        </div>

      </form>

    </div>
  </div>

</template>

<style>
</style>


<script>

  import { ContainerService } from "../../../service/core/container-service"
  import { ChannelService } from "../../../service/channel-service"
  import { ChannelWebService } from "../../../service/web/channel-web-service"
  import { ImageService } from "../../../service/image-service"
  import { ThemeService } from "../../../service/theme-service"
  import { StaticPageService } from "../../../service/static-page-service"
  import { UiService } from "../../../service/core/ui-service"

  import { QuillEditorService, CustomImageSpec } from "../../../service/quill-editor-service"

  import { Channel } from "../../../dto/channel"
  import { Theme } from "../../../dto/theme"
  import { StaticPage } from "../../../dto/static-page"

  import Navbar from "../../admin/navbar.f7.html"
  import ChannelForm from "../../admin/channel/form.f7.html"
  import hljs from "highlight.js"

  import Quill from 'quill'
  import ThemeForm from "../../admin/channel/theme-form.f7.html"
  import StaticPageForm from "../../admin/channel/static-page-form.f7.html"



  import { ethers } from "ethers"
  import Tagify from '@yaireo/tagify'
  import { v4 as uuidv4 } from 'uuid';


  export default (props, { $, $on, $f7, $update }) => {

    let channelService = ContainerService.getInstance(ChannelService)
    let channelWebService = ContainerService.getInstance(ChannelWebService)

    let imageService = ContainerService.getInstance(ImageService)
    let themeService = ContainerService.getInstance(ThemeService)
    let staticPageService = ContainerService.getInstance(StaticPageService)
    let uiService = ContainerService.getInstance(UiService)

    let quillEditorService = ContainerService.getInstance(QuillEditorService)

    let licenseQuillEditor

    let channelViewModel = props.channelViewModel

    let coverImage
    let coverBanner

    hljs.configure({
      languages: ['css']
    })

    let breadcrumbs = [{
        text: "Home",
        path: "/"
    }, {
      text: channelViewModel.channel.title,
      path: `/admin/channel/show/${channelViewModel.channel._id}`
    }, {
      text: 'Edit Collection'
    }]


    const formSubmit = async (e) => {

      e.preventDefault()

      let form = document.getElementById('edit-channel-form')

      if (!form.checkValidity()) {
        $f7.popup.open('.edit-basics-popup')
        return
      }


      let existingChannel = Object.assign(new Channel(), channelViewModel.channel)


      //Get data
      let channel = Object.assign(existingChannel, $f7.form.convertToData('#edit-channel-form'))


      //Get content from quill
      channel.description = quillEditorService.activeEditor.getContents()
      channel.license = licenseQuillEditor.getContents()

      //Convert numbers
      channel.sellerFeeBasisPoints = parseInt(channel.sellerFeeBasisPoints)

      //Parse attributeOptions and category
      if (channel.attributeOptions) {
        channel.attributeOptions = JSON.parse(channel.attributeOptions)
      } else {
        channel.attributeOptions = []
      }

      if (channel.externalLinks) {
        channel.externalLinks = JSON.parse(channel.externalLinks)
      } else {
        channel.externalLinks = []
      }

      if (channel.marketplaces) {
        channel.marketplaces = JSON.parse(channel.marketplaces)
      } else {
        channel.marketplaces = []
      }


      channel.disableForks = channel.disableForks == "true"
      channel.showMintPage = channel.showMintPage == "true"
      channel.showActivityPage = channel.showActivityPage == "true"



      //Save
      try {

        await channelWebService.put(channel, coverImage, coverBanner)

        const toast = $f7.toast.show({
          text: 'Collection saved',
          closeTimeout: 2000,
          closeButton: true,
          position: 'bottom',
          horizontalPosition: 'left'
        })

        //Redirect
        $f7.views.main.router.navigate(`/admin/channel/show/${channel._id}`)

      } catch (ex) {
        $f7.dialog.alert(ex.errors, "There was an error")
      }

    }

    $on('pageInit', async (e, page) => {

      $('#edit-channel-form').attr('novalidate','novalidate')


      //Categories
      let categoryTagify = new Tagify(document.getElementById('category'))

      //Description
      quillEditorService.buildQuillPostEditor("#edit-channel-description-editor", "#edit-channel-description-toolbar")

      if (channelViewModel.channel.description) {
        quillEditorService.activeEditor.setContents(channelViewModel.channel.description)
      }

      //License
      licenseQuillEditor = new Quill('#edit-channel-license-editor', {
        bounds: ".page-content",
        modules: {
          toolbar: '#edit-channel-license-toolbar',
        },
        theme: "snow"
      })


      if (channelViewModel.channel.license) {
        licenseQuillEditor.setContents(channelViewModel.channel.license)
      }

      //Open attribute options too
      if (channelViewModel.channel?.attributeOptions?.length > 0) {

        for (let ao of channelViewModel.channel?.attributeOptions) {
          new Tagify(document.getElementById(`options-input-${ao.id}`))
        }

      }

    })


    $(document).on('cover-image-updated', async (e) => {
        coverImage = e.detail.coverImage
    })

    $(document).on('cover-banner-updated', async (e) => {
        coverBanner = e.detail.coverBanner
    })

    return $render
  }

</script>