<!--suppress JSAnnotator -->
<template>

  <div class="page" data-name="admin-fork-contract">

    <${Navbar} breadcrumbs=${breadcrumbs} />
    <${Toolbar} />

    <div class="page-content hide-toolbar-on-scroll">

      <form  @submit="${formSubmit}" id="import-fork-contract">

        <div class="block-title">Fork Collection From Contract</div>

         ${walletService?.address ? $h`
        

          <div class="card">
            <div class="card-content card-content-padding">
              ${!ipfsReady ? $h`
                <div class="ipfs-label">IPFS Initializing...</div>
            ` : $h`
                <div class="ipfs-label">
                    Status: <a href="/admin/connect">IPFS Ready</a>
                </div>
            `}
            </div>
          </div>

          ${ipfsReady & !forking & !channelId ? $h`

            <div class="block-header">
              A <em>fork</em> is a copy of an NFT collection. Forking a project allows you to freely experiment with changes without affecting the original project.
            </div>
  
            <div class="list media-list inset">
              <ul>
                <li>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="demo-media-radio" checked @change="${radioButtonChange}" value="existing" />
                    <i class="icon icon-radio" checked></i>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Create new experience around an existing collection.</div>
                      </div>
                      <div class="item-text">Collection items will not be editable and Reader will be configured to connect to existing smart contract to view ownership and create transactions.</div>
                    </div>
                  </label>
                </li>
                <li>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="demo-media-radio" @change="${radioButtonChange}" value="fork" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Fork collection.</div>
                      </div>
                      <div class="item-text">Collection items can be added, deleted, or edited. Deploy and mint from a new smart contract.</div>
                    </div>
                  </label>
                </li>
  
              </ul>
            </div>
            
            <div class="block-header">
              Enter the contract address of the collection to import. Must be standard ERC-721. Limit 10,000 tokens.
            </div>


            <div class="list media-list inset">
              <ul>

                <li>
                  <a href="#" class="item-link">
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title item-label">Contract Address</div>
                        <div class="item-input-wrap">
                          <input type="text" name="contractAddress" placeholder="Enter Contract Address" value="${contractAddress ? contractAddress : ''}" required />
                          <span class="input-clear-button"></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>

                <li>


                  <div class="block cancel-save-row" style="padding-bottom: 15px;">
      
                    <div class="large-only"></div>
      
                    <a href="/admin/channel/create-menu" class="button button-outline color-gray" tabindex="30">
                      Cancel
                    </a>

                    <button type="submit" class="button button-fill" tabindex="31" id="saveButton">
                      <i class="material-icons">fork_left</i> Create Fork
                    </button>
      
                  </div>

                </li>

              </ul>
            </div>

              
          ` : $h`
              <p></p>
          `}



          ${forking || forkOutput ? $h`

            <div class="card">

              ${forking ? $h`
                <div class="card-header">
                    Forking...
                </div>  
  
              ` : $h`<span />`}
  

              <div class="card-content">
                  <div class="card-content card-content-padding">
  
                    ${forkOutput ? $h`

                      ${forkStatus? $h`

                        <div class="data-table ">
                          <table>
                            <thead>
                              <th class="label-cell">Type</th>
                              <th class="numeric-cell">Saved</th>
                              <th class="numeric-cell">Total</th>
                            </thead>
                            <tbody>
                              <tr class="${forkStatus.animations.saved == forkStatus.animations.total && forkStatus.animations.total > 0 ? 'complete' : ''}">
                                <td class="label-cell">Animations</td>
                                <td class="numeric-cell">${forkStatus.animations.saved}</td>
                                <td class="numeric-cell">${forkStatus.animations.total ? forkStatus.animations.total : "?"} </td>
                              </tr>
                              <tr class="${forkStatus.images.saved == forkStatus.images.total && forkStatus.images.total > 0 ? 'complete' : ''}">
                                <td class="label-cell">Images</td>
                                <td class="numeric-cell">${forkStatus.images.saved}</td>
                                <td class="numeric-cell">${forkStatus.images.total ? forkStatus.images.total : "?"}</td>
                              </tr>
                              <tr class="${forkStatus.items.saved == forkStatus.items.total && forkStatus.items.total > 0 ? 'complete' : ''}">
                                <td class="label-cell">Items</td>
                                <td class="numeric-cell">${forkStatus.items.saved}</td>
                                <td class="numeric-cell">${forkStatus.items.total}</td>
                              </tr>
                              <tr class="${forkStatus.channels.saved == forkStatus.channels.total && forkStatus.channels.total > 0 ? 'complete' : ''}">
                                <td class="label-cell">Channels</td>
                                <td class="numeric-cell">${forkStatus.channels.saved}</td>
                                <td class="numeric-cell">${forkStatus.channels.total}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>



                      ` : $h`<span />`}


                      ${!channelId ? $h`
                        <div class="fork-output-simple" innerHTML="${forkOutput}" id="ipfs-fork-process" ></div>
                      ` : $h`
                      
                        <div class="block save-row">

                          <div class="large-only"></div>
    
                          <a href="/admin/channel/show/${channelId}" class="button button-fill color-green" class="button button-fill" tabindex="12">
                            View Collection
                          </a>  
                        </div>

                      `}


                    ` : $h`<span />`}


  
                  </div>
              </div>
  
            </div>

          ` : $h`
            <span />
          `}

        ` : $h`
          <div class="block-header">
            Use a web browser with wallet support to import an existing ERC-721 collection.
          </div>
        `}



      </form>



    </div>
  </div>

</template>


<style>

</style>


<script>

  import { ContainerService } from "../../../service/core/container-service"
  import { IpfsService } from "../../../service/core/ipfs-service"
  import { ImportService } from "../../../service/core/import-service"


  import Navbar from "../../admin/navbar.f7.html"
  import Toolbar from "../../admin/toolbar.f7.html"

  export default (props, { $, $on, $f7, $update }) => {

    let importService = ContainerService.getInstance(ImportService)
    let ipfsService = ContainerService.getInstance(IpfsService)
    let walletService

    let contractAddress = props.contractAddress

    let owner 
    let channelId

    let forking = false
    let forkStatus 
    let forkOutput = ""

    let forkType = "existing"

    let breadcrumbs = [{
        text: "Home",
        path: "/"
    },{
      text: 'Create & Import',
      path: '/admin/channel/create-menu'
    }, {
      text: 'Fork Collection From Contract'
    }]

    let ipfsReady = false

    $on('pageInit', async () => {

      walletService = ContainerService.getWalletService()

      owner = await walletService.getAddress()

      //Initialize IPFS
      await ipfsService.init()
      ipfsReady = ipfsService.ipfs != undefined

      await $update()

    })

    const radioButtonChange = async (e) => {

      e.preventDefault()

      forkType = $(e.currentTarget).val()

      await $update()

    }

    const formSubmit = async (e) => {

      e.preventDefault()

      let formData = $f7.form.convertToData('#import-fork-contract')

      forking = true 
      $update()

      try {

        if (forkType == "existing") {
          channelId = await importService.importExistingFromContract(formData.contractAddress)
        } else {
          channelId = await importService.importAsForkFromContract(formData.contractAddress)
        }


      } catch(ex) {
        console.log(ex)
        $f7.dialog.alert(ex.message, "There was an error")
      }

      forking = false
      $update()

    }


    $(document).on('fork-progress', async (e) => {

      if (e.detail.message) {
          forkOutput = `<p>${e.detail.message}</p>`
      }

      forkStatus = e.detail.forkStatus
      forking=true

      $update()

      let outputElement = document.getElementById('ipfs-fork-process')

      if (outputElement) {
          $(outputElement).scrollTop(outputElement.scrollHeight)
      }

    })





    return $render
  }

</script>