<!--suppress JSAnnotator -->
<template>

  <div class="page" data-name="admin-fork-contract">

    <${Navbar} reader_config=${readerConfig} breadcrumbs=${breadcrumbs}  />

    <div class="page-content hide-toolbar-on-scroll">

      <div class="block-title">Fork Collection From Reader</div>


      ${!forking & !channelId ? $h`

        ${channel ? $h`
        
          <form @submit="${formSubmit}" id="import-from-reader">

            <div class="block-header">
              A <em>fork</em> is a copy of an NFT collection. Forking a project allows you to freely experiment with changes without affecting the original project. 
            </div>

            <div class="list media-list inset">
              <ul>
                <li>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="demo-media-radio" checked @change="${radioButtonChange}" value="existing" />
                    <i class="icon icon-radio" checked></i>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Create new experience around an existing collection.</div>
                      </div>
                      <div class="item-text">Collection items will not be editable and Reader will be configured to connect to existing smart contract to view ownership and create transactions.</div>
                    </div>
                  </label>
                </li>
                <li>
                  <label class="item-radio item-radio-icon-start item-content">
                    <input type="radio" name="demo-media-radio" @change="${radioButtonChange}" value="fork" />
                    <i class="icon icon-radio"></i>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Fork collection.</div>
                      </div>
                      <div class="item-text">Collection items can be added, deleted, or edited. Deploy and mint from a new smart contract.</div>
                    </div>
                  </label>
                </li>

              </ul>
            </div>

            ${!channelId ? $h`
              <div class="block block-strong inset fork-block">

                <p>Forking <a href="${readerConfig.path}" class="external">${channel.title}</a></p>
  
                <div class="repo-name">
  
                  <div class="left">
                    <strong>Author</strong>
  
                    <div class="list no-hairlines" style="margin: 0; padding-left: 0px;">
                      <ul>
                        <li class="item-content item-input" style="padding-left: 0px;">
                          <div class="item-inner">
                            <div class="item-input-wrap">
                              <select id="collection-author">
                                ${forkType == "existing" && author != undefined ? $h`
                                  <option value="${author._id}">${truncateEthAddress(author._id)} (Original Author)</option>
                                ` : $h`
  
                                  ${owner ? $h`
                                    <option value="${owner}">${truncateEthAddress(owner)}</option>
                                  ` : $h`
                                    <option value="">None</option>
                                  `}
                                  
                                ` }
                              </select>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
  
                  <div class="right">
                    <strong>Collection Name</strong>
  
                    <div class="list no-hairlines" style="margin: 0; padding-left: 0px;">
                      <ul>
                        <li class="item-content item-input" style="padding-left: 0px;">
                          <div class="item-inner">
  
                              ${forkType == "existing" ? $h`
                                <div class="item-input-wrap ">
                                  ${channel.title}
                                </div>
                              ` : $h`
                                <div class="item-input-wrap ">
                                  <input type="text" value="${readerConfig.title}" @change="${collectionTitleChange}" />
                                  <span class="input-clear-button"></span>
                                </div>
                              ` }
  
                          </div>
                        </li>
                      </ul>
                    </div>
  
                  </div>
                </div>
                
  
                <p>
                  You are downloading all project data, including images and HTML, into a local web-based <a href="https://pouchdb.com" class="external">database</a> on your device.
                </p>
  
                ${!forking? $h`
                  <button type="submit" class="button button-fill col-30" tabindex="12" style="margin-bottom: 10px; width: 200px;">
                    <i class="material-icons">fork_left</i> Create Fork
                  </button>
                ` : $h`
                    <span />
                `}
  
              </div>
            ` : $h`<span />`}

          </form>


        ` : $h`
          
          <form @submit="${continueSubmit}">

            <div class="block-header">
              Enter the URL (home page) of the Large NFT collection to import. 
            </div>


            <div class="list media-list inset">
              <ul>

                <li>
                  <a href="#" class="item-link">
                    <div class="item-content">
                      <div class="item-inner">
                        <div class="item-title item-label">Large URL</div>
                        <div class="item-input-wrap">
                          <input type="text" id="libraryURL" placeholder="Enter URL" value="" required />
                          <span class="input-clear-button"></span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>

                <li>

                  <div class="block cancel-save-row" style="padding-bottom: 15px;">
      
                    <div class="large-only"></div>
      
                    <a href="/admin/channel/create-menu" class="button button-outline color-gray" tabindex="30">
                      Cancel
                    </a>

                    <button type="submit" class="button button-fill" tabindex="31" id="saveButton">
                      Continue
                    </button>
      
                  </div>

                </li>

              </ul>
            </div>
          </form>



        `}
        
      ` : $h`<span />`}


      ${forking || forkOutput ? $h`

        <div class="card">

          ${forking ? $h`
            <div class="card-header">
                Forking...
            </div>  

          ` : $h`<span />`}


          <div class="card-content">
              <div class="card-content card-content-padding">


                ${forkOutput ? $h`

                  ${forkStatus? $h`
                    <div class="data-table">
                      <table>
                        <thead>
                          <th class="label-cell">Type</th>
                          <th class="numeric-cell">Saved</th>
                          <th class="numeric-cell">Total</th>
                        </thead>
                        <tbody>
                          <tr class="${forkStatus.channels.saved == forkStatus.channels.total && forkStatus.channels.total > 0 ? 'complete' : ''}">
                            <td class="label-cell">Channels</td>
                            <td class="numeric-cell">${forkStatus.channels.saved}</td>
                            <td class="numeric-cell">${forkStatus.channels.total}</td>
                          </tr>
                          <tr class="${forkStatus.authors.saved == forkStatus.authors.total && forkStatus.authors.total > 0 ? 'complete' : ''}">
                            <td class="label-cell">Authors</td>
                            <td class="numeric-cell">${forkStatus.authors.saved}</td>
                            <td class="numeric-cell">${forkStatus.authors.total}</td>
                          </tr>
                          <tr class="${forkStatus.animations.saved == forkStatus.animations.total && forkStatus.animations.total > 0 ? 'complete' : ''}">
                            <td class="label-cell">Animations</td>
                            <td class="numeric-cell">${forkStatus.animations.saved}</td>
                            <td class="numeric-cell">${forkStatus.animations.total}</td>
                          </tr>

                          <tr class="${forkStatus.images.saved == forkStatus.images.total && forkStatus.images.total > 0 ? 'complete' : ''}">
                            <td class="label-cell">Images</td>
                            <td class="numeric-cell">${forkStatus.images.saved}</td>
                            <td class="numeric-cell">${forkStatus.images.total}</td>
                          </tr>
                          <tr class="${forkStatus.themes.saved == forkStatus.themes.total && forkStatus.themes.total > 0 ? 'complete' : ''}">
                            <td class="label-cell">Themes</td>
                            <td class="numeric-cell">${forkStatus.themes.saved}</td>
                            <td class="numeric-cell">${forkStatus.themes.total}</td>
                          </tr>
                          <tr class="${forkStatus.staticPages.saved == forkStatus.staticPages.total && forkStatus.staticPages.total > 0 ? 'complete' : ''}">
                            <td class="label-cell">Static Pages</td>
                            <td class="numeric-cell">${forkStatus.staticPages.saved}</td>
                            <td class="numeric-cell">${forkStatus.staticPages.total}</td>
                          </tr>
                          <tr class="${forkStatus.items.saved == forkStatus.items.total && forkStatus.items.total > 0 ? 'complete' : ''}">
                            <td class="label-cell">Items</td>
                            <td class="numeric-cell">${forkStatus.items.saved}</td>
                            <td class="numeric-cell">${forkStatus.items.total}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  ` : $h`<span />`}


                  ${!channelId ? $h`
                    <div class="fork-output" innerHTML="${forkOutput}" id="ipfs-fork-process" ></div>
                  ` : $h`


                    <div class="block save-row">

                      <div class="large-only"></div>

                      <a href="/admin/channel/show/${channelId}" class="button button-fill color-green" class="button button-fill" tabindex="12">
                        View Collection
                      </a>  
                    </div>


                  
                  `}


                ` : $h`<span />`}



              </div>
          </div>

        </div>

      ` : $h`
        <span />
      `}



    </div>
  </div>

</template>


<style>





</style>


<script>

  import { ContainerService } from "../../../service/core/container-service"
  import { IpfsService } from "../../../service/core/ipfs-service"
  import { ImportService } from "../../../service/core/import-service"

  import Navbar from "../../admin/navbar.f7.html"
  import Toolbar from "../../admin/toolbar.f7.html"

  import axios from "axios"

  export default (props, { $, $on, $f7, $update }) => {

    let importService = ContainerService.getInstance(ImportService)
    let ipfsService = ContainerService.getInstance(IpfsService)
    let walletService = ContainerService.getWalletService()

    let ipfsReady = ipfsService.ipfs != undefined
    let peerCount = ipfsService.peerCount

    let contractInfo 

    let forking = false
    let forkStatus 
    let forkOutput = ""

    let channel
    let author
    let owner
    
    let customName

    let channelId

    let forkType = "existing"

    let readerTitle

    let breadcrumbs = [{
        text: "Home",
        path: "/"
    },{
      text: 'Create & Import',
      path: '/admin/channel/create-menu'
    }, {
      text: 'Fork Collection From Reader'
    }]

    //Check hash to see if we are linking to a Reader
    let search = window.location.hash ? window.location.hash.substring(window.location.hash?.indexOf("?"), window.location.hash.length) : undefined

    const urlParams = new URLSearchParams(search)

    let readerConfig = {}

    if (urlParams.get('path')) {

      //Get the title
      readerConfig.path = decodeURIComponent(urlParams.get('path'))

    }


    const loadCollection = async(e) => {

      try {
        owner = await walletService.getAddress()

        channel = await getChannel()
        author = await getAuthor()

        contractInfo = await getContractInfo()

        readerConfig.title = channel.title
        customName = channel.title

      } catch(ex) {
        $f7.dialog.alert(ex, "Error loading collection. Not found.")
      }

    }

    const continueSubmit = async (e) => {

      e.preventDefault()

      readerConfig.path = $('#libraryURL').val()

      await loadCollection()

      await $update()

    }

    const truncateEthAddress = (address) => {
      return walletService.truncateEthAddress(address)
    }

    // const getBaseURI = () => {

    //   let baseURI = window.location.pathname

    //   //Get what's before admin
    //   return baseURI.substring(0, baseURI.indexOf('large/index.html'))

    // }


    const getChannel = async () => {
      let response = await axios.get(`${readerConfig.path}backup/export/backup/channels.json`)
      let channels = response.data
      return channels[0]
    }

    const getAuthor = async () => {
      let response = await axios.get(`${readerConfig.path}backup/export/backup/authors.json`)
      let authors = response.data
      return authors[0]
    }

    const getContractInfo = async () => {
      
      try {

        let response = await axios.get(`${readerConfig.path}backup/contract/contract.json`)
        let contract = response.data
        return contract

      } catch(ex) {
        console.log(ex)
      }

    }


    $on('pageInit', async () => {

      if (readerConfig.path) {
        await loadCollection()
      }

      await $update()

    })

    const radioButtonChange = async (e) => {

      e.preventDefault()

      forkType = $(e.currentTarget).val()

      await $update()

    }

    const collectionTitleChange = async (e) => {
      e.preventDefault()
      customName = $(e.currentTarget).val()
      await $update()
    }

    const formSubmit = async (e) => {

      e.preventDefault()

      forking = true 
      $update()

      // //Make sure it's a valid channel
      // try {
        
        if (forkType == "existing") {
          channelId = await importService.importExistingFromReader(readerConfig.path, contractInfo.contractAddress, contractInfo.ipfsCid  )
        } else {
          channelId = await importService.importAsForkFromReader(readerConfig.path, customName)
        }

      // } catch(ex) {
      //   $f7.dialog.alert(ex, "Error loading collection. Not found.")
      // }



      

      forking = false
      $update()

    }


    $(document).on('fork-progress', async (e) => {

      if (e.detail.message) {
          forkOutput = `<p>${e.detail.message}</p>`
      }

      forkStatus = e.detail.forkStatus
      forking=true

      $update()

      let outputElement = document.getElementById('ipfs-fork-process')

      if (outputElement) {
          $(outputElement).scrollTop(outputElement.scrollHeight)
      }

    })


    return $render
  }

</script>