<!--suppress JSAnnotator -->
<template>

  <div class="page" data-name="admin-fork">

    <${Navbar} breadcrumbs=${breadcrumbs} />

    <div class="page-content hide-toolbar-on-scroll">

      <form @submit="${formSubmit}" id="import-ipfs-hash">

        <div class="block-title">Fork Collection From IPFS Hash</div>

        <div class="card">
          <div class="card-content card-content-padding">
            ${!ipfsReady ? $h`
              <div class="ipfs-label">IPFS Initializing...</div>
          ` : $h`
              <div class="ipfs-label">
                  Status: <a href="/admin/connect">IPFS Ready</a>
              </div>
          `}
          </div>
        </div>

        ${!forking & !channel ? $h`
          
          <div class="block-header">
            A <em>fork</em> is a copy of an NFT collection. Forking a project allows you to freely experiment with changes without affecting the original project.
          </div>

          <div class="list media-list inset">
            <ul>
              <li>
                <label class="item-radio item-radio-icon-start item-content">
                  <input type="radio" name="demo-media-radio" checked @change="${radioButtonChange}" value="existing" />
                  <i class="icon icon-radio" checked></i>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">Create new experience around an existing collection.</div>
                    </div>
                    <div class="item-text">Collection items will not be editable and Reader will be configured to connect to existing smart contract to view ownership and create transactions.</div>
                  </div>
                </label>
              </li>
              <li>
                <label class="item-radio item-radio-icon-start item-content">
                  <input type="radio" name="demo-media-radio" @change="${radioButtonChange}" value="fork" />
                  <i class="icon icon-radio"></i>
                  <div class="item-inner">
                    <div class="item-title-row">
                      <div class="item-title">Fork collection.</div>
                    </div>
                    <div class="item-text">Collection items can be added, deleted, or edited. Deploy and mint from a new smart contract.</div>
                  </div>
                </label>
              </li>

            </ul>
          </div>


          ${forkType == "fork" && walletService.address ? $h`
            <div class="block-title block-title-small">Author</div>

            <div class="list no-hairlines inset">
              <ul>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-input-wrap">
                      <select id="collection-author" name="authorId">
                        <option value="">Original Author</option>
                        <option value="${walletService.address}">${walletService.address}</option>
                      </select>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          ` : $h`<span />`}
        
          
        ` : $h`<span />`}


        <div class="card">

          ${forking ? $h`
            <div class="card-header">
                Forking...
            </div>  

          ` : $h`<span />`}


          <div class="card-content">

            <div class="card-content card-content-padding">
 
                
                ${forkOutput ? $h`

                  ${forkStatus? $h`

                    <div class="data-table">
                      <table>
                        <thead>
                          <th class="label-cell">Type</th>
                          <th class="numeric-cell">Saved</th>
                          <th class="numeric-cell">Total</th>
                        </thead>
                        <tbody>
                          <tr class="${forkStatus.authors.saved == forkStatus.authors.total && forkStatus.authors.total > 0 ? 'complete' : ''}">
                            <td class="label-cell">Authors</td>
                            <td class="numeric-cell">${forkStatus.authors.saved}</td>
                            <td class="numeric-cell">${forkStatus.authors.total}</td>
                          </tr>
                          <tr class="${forkStatus.channels.saved == forkStatus.channels.total && forkStatus.channels.total > 0 ? 'complete' : ''}">
                            <td class="label-cell">Channels</td>
                            <td class="numeric-cell">${forkStatus.channels.saved}</td>
                            <td class="numeric-cell">${forkStatus.channels.total}</td>
                          </tr>
                          <tr class="${forkStatus.animations.saved == forkStatus.animations.total && forkStatus.animations.total > 0 ? 'complete' : ''}">
                            <td class="label-cell">Animations</td>
                            <td class="numeric-cell">${forkStatus.animations.saved}</td>
                            <td class="numeric-cell">${forkStatus.animations.total}</td>
                          </tr>

                          <tr class="${forkStatus.images.saved == forkStatus.images.total && forkStatus.images.total > 0 ? 'complete' : ''}">
                            <td class="label-cell">Images</td>
                            <td class="numeric-cell">${forkStatus.images.saved}</td>
                            <td class="numeric-cell">${forkStatus.images.total}</td>
                          </tr>
                          <tr class="${forkStatus.themes.saved == forkStatus.themes.total && forkStatus.themes.total > 0 ? 'complete' : ''}">
                            <td class="label-cell">Themes</td>
                            <td class="numeric-cell">${forkStatus.themes.saved}</td>
                            <td class="numeric-cell">${forkStatus.themes.total}</td>
                          </tr>
                          <tr class="${forkStatus.staticPages.saved == forkStatus.staticPages.total && forkStatus.staticPages.total > 0 ? 'complete' : ''}">
                            <td class="label-cell">Static Pages</td>
                            <td class="numeric-cell">${forkStatus.staticPages.saved}</td>
                            <td class="numeric-cell">${forkStatus.staticPages.total}</td>
                          </tr>
                          <tr class="${forkStatus.items.saved == forkStatus.items.total && forkStatus.items.total > 0 ? 'complete' : ''}">
                            <td class="label-cell">Items</td>
                            <td class="numeric-cell">${forkStatus.items.saved}</td>
                            <td class="numeric-cell">${forkStatus.items.total}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                  ` : $h`<span />`}
       

                  ${!channel ? $h`
                    <div class="fork-output-simple" innerHTML="${forkOutput}" id="ipfs-fork-process" ></div>
                  ` : $h`
                  
                    <div class="block save-row">

                      <div class="large-only"></div>

                      <a href="/admin/channel/show/${channel}" class="button button-fill color-green" class="button button-fill" tabindex="12">
                        View Collection
                      </a>  
                    </div>
                  `}
                  
                
                ` : $h`<span />`}


                ${ipfsReady & !forking & !channel ? $h`

                  <p>
                    Enter the IPFS hash of the Large collection to import. For this process to work the collection must have
                    been built with Large otherwise use the <a href="/admin/channel/fork-contract">contract importer</a>.
                  </p>

                  <div class="list media-list">
                    <ul>
                      <li>
                        <a href="#" class="item-link">
                          <div class="item-content">
                            <div class="item-inner">
                              <div class="item-title item-label">IPFS Hash</div>
                              <div class="item-input-wrap">
                                <input type="text" name="hash" placeholder="Enter IPFS Hash" value="${cid ? cid : ''}" required />
                                <span class="input-clear-button"></span>
                              </div>
                            </div>
                          </div>
                        </a>
                      </li>
                      <li>

                        <div class="block cancel-save-row">
      
                          <div class="large-only"></div>
            
                          <a href="/admin/channel/create-menu" class="button button-outline color-gray" tabindex="30">
                            Cancel
                          </a>
      
                          <button type="submit" class="button button-fill" tabindex="31" id="saveButton">
                            <i class="material-icons">fork_left</i> Create Fork
                          </button>
            
                        </div>

                      </li>
                    </ul>
                  </div>

                    
                ` : $h`
                    <p></p>
                `}



              </div>
          </div>
        </div>


      </form>



    </div>
  </div>

</template>


<style>
  .ipfs-label,
  .fork-label {
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 18px;
  }

  .fork-output {
      border: 1px solid #cccccc;
      font-size: 13px;
      width: 100%;
      max-width: 100%;
      padding: 5px;
      height: 300px;
      overflow-y: scroll;
  }

  .fork-status {
      font-size: 14px;
      padding: 10px;
      border: 1px solid #f1f1f1;
  }

  .fork-status .item label {
      font-weight: bold;
      display: inline-block;
      width: 180px;
  }



</style>


<script>

  import { ContainerService } from "../../../service/core/container-service"
  import { IpfsService } from "../../../service/core/ipfs-service"
  import { ImportService } from "../../../service/core/import-service"

  import Navbar from "../../admin/navbar.f7.html"


  export default (props, { $, $on, $f7, $update }) => {

    let importService = ContainerService.getInstance(ImportService)
    let ipfsService = ContainerService.getInstance(IpfsService)
    let walletService = ContainerService.getWalletService()

    let ipfsReady = ipfsService.ipfs != undefined
    let peerCount = ipfsService.peerCount

    let cid = props.cid

    let forking = false
    let forkStatus 
    let forkOutput = ""

    let forkType = "existing"

    let channel

    let breadcrumbs = [{
        text: "Home",
        path: "/"
    },{
      text: 'Create & Import',
      path: '/admin/channel/create-menu'
    }, {
      text: 'Fork Collection From IPFS Hash'
    }]


    $on('pageInit', async () => {

      //Initialize IPFS
      await ipfsService.init()
      ipfsReady = ipfsService.ipfs != undefined

      await $update()

    })

    const formSubmit = async (e) => {

      e.preventDefault()

      let formData = $f7.form.convertToData('#import-ipfs-hash')

      forking = true 
      $update()

      channel = await importService.importFromIPFS(formData.hash, forkType, formData.authorId)

      forking = false
      $update()

    }

    $(document).on('fork-progress', async (e) => {

      if (e.detail.message) {
          forkOutput = `<p>${e.detail.message}</p>`
      }

      forkStatus = e.detail.forkStatus

      forking=true

      $update()

      let outputElement = document.getElementById('ipfs-fork-process')

      if (outputElement) {
          $(outputElement).scrollTop(outputElement.scrollHeight)
      }

    })


    const radioButtonChange = async (e) => {

      e.preventDefault()

      forkType = $(e.currentTarget).val()

      await $update()

    }

    $(document).on('update-peers', async (e) => {

      peerCount = e.detail.count
      $update()

    })

    return $render
  }

</script>