<!--suppress JSAnnotator -->
<template>

  <div class="page" data-name="admin-posts">

    <${Navbar} breadcrumbs=${breadcrumbs} />

    <div class="fab fab-extended fab-right-bottom">
      <a href="/admin/channel/create-menu">
        <i class="material-icons">create</i>
        <div class="fab-text">Create & Import</div>
      </a>
    </div>


    <div class="page-content infinite-scroll-content hide-toolbar-on-scroll" @infinite=${infiniteScroll} id="channel-index-infinite-scroll">


      <div class="card card-outline card-header-divider welcome">
        <div class="card-header">Welcome and thank you for using Large!</div>
        <div class="card-content card-content-padding">

          <p>
            Large is free software and designed to run on your own hardware with a standalone IPFS and Ethereum node.
          </p>

          <p>
            <strong>All data</strong> is in local storage in your browser and we can NEVER retreive it for you if you lose it. We do not have it and this is by design. 
          </p>

          <p>Help make Large better by submitting bugs and feedback on <a href="https://github.com/LargeNFT/large-nft" class="external">GitHub</a>.</p>

        </div>



      </div>


      <div class="list list-strong list-dividers media-list virtual-list inset" id="channel-index-list">
      </div>

      <div class="preloader infinite-scroll-preloader"></div>



    </div>


  </div>

</template>

<style>


</style>

<script>

  import moment from "moment"

  import { ContainerService } from "../../../service/core/container-service"
  import { UiService } from "../../../service/core/ui-service"
  import { ImageService } from "../../../service/image-service"

  import { ChannelWebService } from "../../../service/web/channel-web-service"

  import Navbar from "../../admin/navbar.f7.html"



  export default (props, { $, $h, $on, $f7, $update }) => {

    let channelWebService = ContainerService.getInstance(ChannelWebService)
    let imageService = ContainerService.getInstance(ImageService)
    let uiService = ContainerService.getInstance(UiService)

    let footerText = props.footerText


    const LIMIT = 20

    let channelsShown 
    let pageCounter
    let hasMoreChannels
    let loadingInProgress 


    let channels = []
    let virtualList
    
    let breadcrumbs = [{
        text: "Home"
    }]


    function unloadInfiniteScroll() {
      console.log("Unload infinite scroll")

      // Nothing more to load, detach infinite scroll events to prevent unnecessary loadings
      $f7.infiniteScroll.destroy('#channel-index-infinite-scroll')

      // $f7.virtualList.destroy('#channel-index-list')

      // Remove preloader
      $('.infinite-scroll-preloader').hide()

    }

    async function infiniteScroll() {

      // Exit, if loading in progress
      if (loadingInProgress || !hasMoreChannels) return

      uiService.showSpinner("Loading...")

      // Set loading flag
      loadingInProgress = true

      try {

        channels = await channelWebService.list(LIMIT, channelsShown)

        if (channels && channels.length == LIMIT) {
          channelsShown += channels.length
        } else {
          hasMoreChannels = false
        }

        if (pageCounter == 0) {
          //Remove the fake one
          virtualList.deleteAllItems()
        }

        virtualList.appendItems(channels)

      } catch (ex) {
        console.log(ex)
      }

      if (!hasMoreChannels) {
        unloadInfiniteScroll()
      }

      pageCounter++
      loadingInProgress = false

      uiService.hideSpinner()


    }


    $on('pageAfterOut', (e, page) => {
      unloadInfiniteScroll()
    })

    $on('pageInit', (e, page) => {
      channelsShown = 0
      pageCounter = 0
      hasMoreChannels = true
      loadingInProgress = false


      //Get first page
      virtualList = $f7.virtualList.create({
        el: '#channel-index-list',

        renderItem(channelViewModel) {
          return getTemplate(channelViewModel)
        },
        items: [],
        setListHeight: false,
        emptyTemplate: `
              <li class="item-content">
                <div class="item-inner">
                    There are no collections yet. <br /><br />Click the 'Create Collection' button to create your first collection.
                </div>
              </li>
            `
      })



      //Get the page
      $('#channel-index-infinite-scroll').trigger('infinite')

      virtualList.on('itemsAfterInsert', (virtualList, fragment) => {

        //Find empty description divs and set their innerHTML
        $('.empty').each((element) => {

          const id = $(element).data('id')

          const c = channels.filter(channelViewModel => channelViewModel.channel._id == id)[0]

          if (c.channel.descriptionHTML) {
            element.innerHTML = c.channel.descriptionHTML
          }

          //Make links external
          let links = element.getElementsByTagName('a')

          for (let link of links) {
            link.classList.add('external')
          }

  
          $(element).removeClass('empty')
        })

        $('#channel-index-list ul').css("height", "")


      })


    })


    const getTemplate = (channelViewModel) => {
      return `
              <li>
                <a href="/admin/channel/show/${channelViewModel.channel._id}" class="item-link">
                  <div class="item-content">
                    <div class="item-media">
                      ${channelViewModel.coverImage ? `
                        <img src="${channelViewModel.coverImage.url}" class="avatar" />
                      ` : `
                        <i class="material-icons avatar">image</i>
                      `}
                    </div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">
                          ${channelViewModel.channel.title}                          
                        </div>
                        <div class="item-after"><span class="badge">${channelViewModel.itemCount}</span></div>
                      </div>

                      ${channelViewModel.authorDisplayName ? `
                        <div class="item-subtitle">
                          By ${channelViewModel?.authorDisplayName}
                        </div>
                      ` : ``}

                      <div class="description item-text empty" id="channel-description-${channelViewModel.channel._id}" data-id="${channelViewModel.channel._id}"></div>
                    
                      </div>
                  </div>
                </a>
              </li>
          `
    }


    return $render
  }
</script>