<template>

  <div class="page" data-name="channel-show-themes">

    <${Navbar} breadcrumbs=${breadcrumbs} />


    ${showEdit ? $h`
    <div class="fab fab-extended fab-right-bottom">
      <a href="/admin/item/create/${channelViewModel.channel._id}">
        <i class="material-icons">create</i>
        <div class="fab-text">Create Item</div>
      </a>
    </div>
    ` : $h``}


    <div class="page-content hide-toolbar-on-scroll">

      <div class="fixed-width-content center">

        <channel-card channel_view_model=${channelViewModel}></channel-card>

        <div class="block">
          <p class="segmented">
            <a class="button button-outline" href="/admin/channel/show/${channelViewModel.channel._id}">Items</a>
            <a class="button button-outline" href="/admin/channel/themes/${channelViewModel.channel._id}">Themes</a>
            <a class="button button-outline button-active" href="#">Static Pages</a>
          </p>
        </div>
  
  
        <div class="card">
          <div class="card-header">Static Pages</div>
          <div class="card-content">
            <div class="list">
              <ul>
                <li>
                  <div class="item-content item-input">
                    <div class="item-inner">
                      <div>
  
                        <p>
                          Create content that is displayed in the Large Reader alongside your collection. These are not mintable as NFTs.
                        </p>
  
                        <p>
                          <strong>Example:</strong> About Us, Contact Us, etc.
                        </p>
  
                        <ul class="static-page-list"
                          style="padding-left: 0; padding-bottom: 10px; padding-top: 10px; margin-bottom: 15px;">
                          ${staticPages?.map( (staticPage) => $h`
                            <li>
                              <span class="static-page-name">${staticPage.name}</span>
                              <a class="link static-page-link" href="#" data-id="${staticPage._id}" @click="${editClick}">Edit</a>
                              <a class="link static-page-link" href="#" data-id="${staticPage._id}" @click="${deleteClick}">Delete</a>
                            </li>
                          `)}
                        </ul>
  
                        <div class="row">
                          <div class="col-30">
                            <a class="button button-outline add-theme-button popup-open"
                              data-popup=".add-static-page-popup" tabindex="10">Add Static Page</a>
                          </div>
                          <div class="col-70"></div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
  
  
        <div class="popup add-static-page-popup popup-tablet-fullscreen">
          <div class="view">
            <div class="page">
              <div class="navbar">
                <div class="navbar-bg"></div>
                <div class="navbar-inner">
                  <div class="title">Add Static Page</div>
                  <div class="right">
                    <!-- Link to close popup -->
                    <a class="link popup-close">Close</a>
                  </div>
                </div>
              </div>
              <div class="page-content">
                <form id="add-static-page-form" @submit="${addFormSubmit}">
                  <${StaticPageForm} static_page_content_editor_id="add-static-page-content-editor"
                    static_page_content_toolbar_id="add-static-page-content-toolbar"
                    image_button_input_id="add-static-page-image-button-input"
                    image_button_id="add-static-page-image-button" />
  
                  <div class="block save-row">
  
                    <div class="large-only"></div>
  
                    <button type="submit" class="button button-fill" tabindex="12">
                      Add Static Page
                    </button>
  
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
  
        <div class="popup edit-static-page-popup popup-tablet-fullscreen">
          <div class="view">
            <div class="page">
              <div class="navbar">
                <div class="navbar-bg"></div>
                <div class="navbar-inner">
                  <div class="title">Edit Static Page</div>
                  <div class="right">
                    <!-- Link to close popup -->
                    <a class="link popup-close">Close</a>
                  </div>
                </div>
              </div>
              <div class="page-content">
                <form id="edit-static-page-form" @submit="${editFormSubmit}">
  
                  <${StaticPageForm} static_page_content_editor_id="edit-static-page-content-editor"
                    static_page_content_toolbar_id="edit-static-page-content-toolbar"
                    image_button_input_id="edit-static-page-image-button-input"
                    image_button_id="edit-static-page-image-button" static_page="${editingStaticPage}" />
  
                  <div class="block save-row">
  
                    <div class="large-only"></div>
  
                    <button type="submit" class="button button-fill" tabindex="12">
                      Save Changes
                    </button>
  
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
  
  
        <div class="block">
          <br />
        </div>


      </div>

    </div>

  </div>

</template>



<style>


</style>


<script>

  import { ContainerService } from "../../../service/core/container-service"
  import { ChannelService } from "../../../service/channel-service"
  import { ItemWebService } from "../../../service/web/item-web-service"
  import { ItemRepository } from "../../../repository/item-repository"
  import { QuillEditorService, CustomImageSpec } from "../../../service/quill-editor-service"
  import { StaticPage } from "../../../dto/static-page"
  import { UiService } from "../../../service/core/ui-service"
  import { StaticPageService } from "../../../service/static-page-service"



  import Navbar from "../../admin/navbar.f7.html"
  import ItemList from "../../admin/channel/item-list.f7.html"
  import TokenNavigator from "./token-navigator.f7.html"
  import StaticPageForm from "../../admin/channel/static-page-form.f7.html"
  import Quill from 'quill'

  import hotkeys from 'hotkeys-js'
  import { v4 as uuidv4 } from 'uuid';

  export default (props, { $, $on, $f7, $update }) => {

    let quillEditorService = ContainerService.getInstance(QuillEditorService)
    let uiService = ContainerService.getInstance(UiService)
    let staticPageService = ContainerService.getInstance(StaticPageService)

    let channelViewModel = props.channelViewModel
    let staticPages = props.staticPages
    let showEdit = channelViewModel.editable

    let editingStaticPage
    let staticPageContentEditor

    let breadcrumbs = [{
        text: "Home",
        path: "/"
    }, {
        text: channelViewModel.channel.title,
        path: `/admin/channel/show/${channelViewModel.channel._id}`
    }, {
      text: 'Static Pages'
    }]


    const updateStaticPagesList = async () => {
      //Refresh static pages list
      staticPages = await staticPageService.listByChannel(channelViewModel.channel._id, 1000, 0)
    }

    let popupOpenHandler = (e) => {

      staticPageContentEditor = new Quill('#add-static-page-content-editor', {
        bounds: ".page-content",
        theme: "snow",
        modules: {
          imageDropAndPaste: {
            // add an custom image handler
            handler: (imageDataUrl, type, imageData) => {
              const file = imageData.toFile()
              quillEditorService.insertImageInEditor(file, staticPageContentEditor)
            }
          },
          toolbar: '#add-static-page-content-toolbar',
          blotFormatter: {
            specs: [
              CustomImageSpec,
            ],
            align: {
              icons: {
                left: "<i class='material-icons'>align_horizontal_left</i>",
                center: "<i class='material-icons'>align_horizontal_center</i>",
                right: "<i class='material-icons'>align_horizontal_right</i>"
              },

              toolbar: {
                svgStyle: {
                  fontSize: '21px',
                },
              }
            }
          },
        }
      })
    }

    let addFormSubmit = async (e) => {

      e.preventDefault()

      //Get data
      let staticPage = Object.assign(new StaticPage(), $f7.form.convertToData('#add-static-page-form'))

      staticPage.content = staticPageContentEditor.getContents()
      staticPage.channelId = channelViewModel.channel._id

      //Generate id
      staticPage._id = uuidv4()
      staticPage.dateCreated = new Date().toJSON()

      try {

        await staticPageService.put(staticPage)
        await updateStaticPagesList()

        //Clear form
        $f7.form.fillFromData('#add-static-page-form', { name: "", slug: "", locations: [] })
        staticPageContentEditor.setText("")

        //Refresh static page list
        await $update()

        $f7.popup.close('.add-static-page-popup')


      } catch (ex) {
        $f7.dialog.alert(ex, "There was an error")
      }

    }

    let editFormSubmit = async (e) => {

      e.preventDefault()

      //Get data
      let staticPage = Object.assign(new StaticPage(), $f7.form.convertToData('#edit-static-page-form'))

      staticPage.content = staticPageContentEditor.getContents()
      staticPage.channelId = channelViewModel.channel._id

      try {

        await staticPageService.put(staticPage)

        await updateStaticPagesList()

        //Refresh theme list
        await $update()

        $f7.popup.close('.edit-static-page-popup')

      } catch (ex) {
        console.log(ex)
        $f7.dialog.alert(ex.errors, "There was an error")
      }

    }

    let deleteClick = async (e) => {

      let id = $(e.target).data('id')

      $f7.dialog.confirm("Are you sure you want to delete this static page?", async () => {

        let staticPage = await staticPageService.get(id)

        await staticPageService.delete(staticPage)
        await updateStaticPagesList()

        //Refresh theme list
        await $update()

        const toast = $f7.toast.show({
          text: 'Static Page deleted',
          closeTimeout: 2000,
          closeButton: true,
          position: 'bottom',
          horizontalPosition: 'left'
        })

      })

    }

    let editClick = async function (e) {

      let id = $(e.target).data('id')

      editingStaticPage = staticPages.filter((staticPage) => staticPage._id == id)[0]

      staticPageContentEditor = new Quill('#edit-static-page-content-editor', {
        bounds: ".page-content",
        theme: "snow",
        modules: {
          imageDropAndPaste: {
            // add an custom image handler
            handler: (imageDataUrl, type, imageData) => {
              const file = imageData.toFile()
              quillEditorService.insertImageInEditor(file, staticPageContentEditor)
            }
          },
          toolbar: '#edit-static-page-content-toolbar',
          blotFormatter: {
            specs: [
              CustomImageSpec,
            ],
            align: {
              icons: {
                left: "<i class='material-icons'>align_horizontal_left</i>",
                center: "<i class='material-icons'>align_horizontal_center</i>",
                right: "<i class='material-icons'>align_horizontal_right</i>"
              },

              toolbar: {
                svgStyle: {
                  fontSize: '21px',
                },
              }
            }
          },
        }
      })


      //Populate form
      $f7.form.fillFromData('#edit-static-page-form', editingStaticPage)
      staticPageContentEditor.setContents(editingStaticPage.content)

      await $update()

      $f7.popup.open('.edit-static-page-popup')

    }

    let addImageButtonClick = function (e) {

      e.preventDefault()

      //Click actual input
      const imageButtonInput = $('#add-static-page-image-button-input')
      imageButtonInput.click()
    }

    let addImageButtonInputClick = async function (e) {

      e.preventDefault()

      uiService.showSpinner("Processing image...")

      await quillEditorService.insertImageInEditor(this.files[0], staticPageContentEditor)

      uiService.hideSpinner()

    }

    let editImageButtonClick = function (e) {

      e.preventDefault()

      //Click actual input
      const imageButtonInput = $('#edit-static-page-image-button-input')
      imageButtonInput.click()
    }

    let editImageButtonInputClick = async function (e) {

      e.preventDefault()

      uiService.showSpinner("Processing image...")

      await quillEditorService.insertImageInEditor(this.files[0], staticPageContentEditor)

      uiService.hideSpinner()

    }

    $on('pageInit', async (e, page) => {

      //Clear existing listeners
      // $(document).off('popup:open', '.add-static-page-popup')

      $(document).off('click', '#add-static-page-image-button')
      $(document).off('change', '#add-static-page-image-button-input')
      $(document).off('click', '#edit-static-page-image-button')
      $(document).off('change', '#edit-static-page-image-button-input')




      //Make sure quill is configured
      await quillEditorService.init()


      //Load cover banner into CSS
      if (channelViewModel?.coverBanner?.url) {
        $(`.show-channel-banner-${channelViewModel.channel._id}`).css('background-image', `url(${channelViewModel.coverBanner.url})`)
      } else {
        $(`.show-channel-banner-${channelViewModel.channel._id}`).css('background', `linear-gradient(-45deg, rgba(241,241,241,1) 13%, rgba(239,243,248,1) 37%, rgba(176,209,220,0.927608543417367) 69%, rgba(255,255,255,1) 100%)`)
      }

      //Make links external
      let description = document.getElementById(`channel-show-description-${channelViewModel.channel._id}`)

      if (description) {

        let links = document.getElementById(`channel-show-description-${channelViewModel.channel._id}`).getElementsByTagName('a')

        for (let link of links) {
          link.classList.add('external')
        }

      }

      await $update()


      /**
       *  STATIC PAGES
       */
      $('.add-static-page-popup').on('popup:open', popupOpenHandler)



      /**
      * ADDING IMAGE BUTTONS
      */
      $(document).on('click', '#add-static-page-image-button', addImageButtonClick)
      $(document).on('change', '#add-static-page-image-button-input', addImageButtonInputClick)
      $(document).on('click', '#edit-static-page-image-button', editImageButtonClick)
      $(document).on('change', '#edit-static-page-image-button-input', editImageButtonInputClick)




    })



    return $render
  }

</script>