/* Your app styles here */
:root {}

html {
  overscroll-behavior-y: contain;
}


a {
  font-weight: bold;
}

/* 
  .left .logo {
    font-size: 32px;
    font-weight: 700;
    margin: 10px;
    color: #FCB827;
 
  }
 
  .logo a {
    width: 100%;
  }
  
  .logo img {
    max-width: 100%;
    margin-top:10px; 
  } */


.small-only {
  display: none;
}

.large-only {
  display: block;
}

@media only screen and (max-width: 1024px) {
  .small-only {
    display: block;
  }

  .large-only {
    display: none;
  }
}


.navbar a.link {
  font-weight: normal;
  display: inline;
  font-size: 16px;
}


.searchbar {
  max-width: 100%;
}

#settings-button {
  margin-left: 3px;
}


.border-white {
  border: 1px solid white;
}


.content {
  width: 100%;
}

.content:after {
  clear: both;
  content: "";
  display: block;
}

.content img {
  max-width: 100%;
  object-fit: cover;
}


.main h1 {
  margin-bottom: 0px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.84);
}

.main h2 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 19px;
  color: rgba(0, 0, 0, 0.54);
}

.main ul {
  padding-left: 20px;
  list-style-type: square;
}

.main li {
  font-size: 17px;
  margin-bottom: 10px;
  margin-left: 0px;
}

/*   
  .toolbar {
    background-color: rgb(32, 32, 32);
  } */
/*   
  .page-content {
    background-color: rgb(238, 240, 243)
  }
  
  .panel {
    border-right: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .panel .list ul {
    background-color: var(--f7-panel-bg-color) ;
    color: rgba(255, 255, 255, 0.87);
  
  }
  
  .panel .list ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  } */

.text-editor-toolbar {
  width: 100%;
  border-top: 1px solid rgb(204, 204, 204);
  border-right: 1px solid rgb(204, 204, 204);
  border-left: 1px solid rgb(204, 204, 204);
  background-color: #CCCCCC;

}

.wallet-address {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
  /* https://davidwalsh.name/css-ellipsis-left */
  /* border: 1px solid rgba(255, 255, 255, 0.15); */
}

#wallet-list-item {
  display: none;
}

#wallet-image {
  display: none;
  max-width: 24px;
  border-radius: 50%;
}


.navbar a.link.small-only {
  display: none;
}


@media only screen and (max-width: 1024px) {
  .navbar a.link.small-only {
    display: flex;
  }
}



@media only screen and (max-width: 1024px) {
  .large-only {
    display: none;
  }

}


/* 
  .logo {
    height: var(--f7-navbar-height);
  } */





.wrap {
  white-space: normal;
}



/* 
  body, .md body {
    font-family: Helvetica;
    font-size: 19px;
  } */

/* .toast-button {
  background-color: rgb(252, 184, 39);
} */

.toast-content {
  float: left;
}

.toast-icon {
  max-width: 25px;
  float: left;
}

.toast.toast-with-icon .toast-text {
  text-align: left;
  margin-left: 30px;
  float: left;
}


.title-name {
  display: block;
  font-weight: bold;
  font-size: 25px;
}

.title-sub {
  display: block;
  font-size: 15px;
}





.ql-editor {
  border: 1px solid #cccccc;
}

.center {
  margin: 0 auto;
}


.post-area {
  width: 100%;
}


.post-area .editor {
  width: 100%;
  height: 125px;
  display: inline-block;
  margin-bottom: 10px;
  font-size: 15px;
}

.post-area .profile-pic {
  width: 60px;
}

.post-area .profile-pic-thumb {
  margin: 5px;
}

.post-area .bottom {
  width: 100%;
}

.post-area .bottom button {
  text-overflow: unset;
}

.post-area .bottom label {
  display: none;
}


.post-content img {
  max-width: 100%;
}




.profile-pic-thumb {
  max-width: 48px;
  border-radius: 50%;
}

.cover-photo-thumb {
  max-width: 50px;
  border-radius: 50%;
}

.item-media .cover-photo-thumb.f7-icons {
  font-size: 50px;
}

.item-media .profile-pic-thumb.f7-icons {
  font-size: 40px;
}

/* .item-inner {
    padding-left: 10px;
  } */

blockquote {
  border-left: 4px solid #111;
  padding-left: 1em;
}

hr {
  border: none;
  color: #111;
  letter-spacing: 1em;
  text-align: center;
}

hr:before {
  content: '...';
}

.image-button-input,
.video-button-input,
#add-static-page-image-button-input,
#edit-static-page-image-button-input {
  opacity: 0;
  width: 0px;
}


.no-results {
  display: none;
}

.queue-item .item-subtitle {
  width: 90%;
}





.mnemonic {
  font-size: 45px;
  font-weight: 700;
}

.peer-list .item-subtitle {
  font-size: 11px;
}

.hide {
  display: none;
}

.center {
  margin: 0 auto;
}



.ql-toolbar {
  width: 100%;
}

.ql-container {
  font-size: 15px;
}

.license-editor .ql-container {
  font-size: 15px;
}



.browse-file {
  width: 200px;
  max-width: 200px;
}




.author-header {
  width: 100%;
  font-size: 14px;
}

.author-header .name {
  margin-bottom: 3px;
}

.author-header a {
  font-weight: bold;
}

.author-avatar {
  margin-top: -4px;
  width: 25px;
  height: 25px;
  font-size: 20px;
  float: left;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 3px;
}

.author-avatar img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.author .avatar i {
  float: left;
}









.channel-card {
  /* height: 415px; */
}


.channel-card .card-header {
  display: block;
  padding: 10px;
}


.channel-card .name {
  text-align: left;
  color: var(--f7-text-color);

}

.channel-card .name a {
  color: var(--f7-theme-color);
  font-weight: bold;
}


.channel-card .date {
  font-size: 13px;
  color: #8e8e93;
}

.channel-card .title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 50px;
  text-align: left;
}


.channel-card .description {
  font-size: 17px;
  text-align: left;
  max-width: 100%;
}

.channel-card .card-content img {
  display: block;
  max-width: 100%;
}

.channel-card .banner {
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-color: #f1f1f1;
}


.avatar {
  width: 100px;
  height: 100px;
  font-size: 100px;
  border-radius: 25%;
}

.channel-card .avatar {
  position: absolute;
  border-radius: 25%;
  left: 10px;
  bottom: 0;
  margin-bottom: -50px;
  z-index: 10000;
  border: 3px solid #ffffff;
  font-size: 100px;
  background: #ffffff;
  float: left;
}

.channel-card a {
  color: var(--f7-text-color);
}



.deploy-button {
  margin-top: 10px;
  width: 200px;
}






.channel-editor {
  min-height: 100px;
  max-height: 100%;
  width: 100%;
}

.license-editor .channel-editor {
  min-height: 150px;
  width: 100%;
}

.css-editor {
  min-height: 100%;
  width: 100%;
  font-size: 12px;
}

.static-page-editor {
  min-height: 500px;
  width: 100%;
  font-size: 12px;
}


.goto-button {
  display: inline-block;
  margin-left: 10px;
  width: 50px;
}

.paging-label {
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}











.data-table .label-cell {
  font-weight: bold;
  width: 225px;
}

.small-ethereum-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 256 417' version='1.1' preserveAspectRatio='xMidYMid'%3e%3cg%3e%3cpolygon fill='%23343434' points='127.9611 0 125.1661 9.5 125.1661 285.168 127.9611 287.958 255.9231 212.32'/%3e%3cpolygon fill='%238C8C8C' points='127.962 0 0 212.32 127.962 287.959 127.962 154.158'/%3e%3cpolygon fill='%233C3C3B' points='127.9611 312.1866 126.3861 314.1066 126.3861 412.3056 127.9611 416.9066 255.9991 236.5866'/%3e%3cpolygon fill='%238C8C8C' points='127.962 416.9052 127.962 312.1852 0 236.5852'/%3e%3cpolygon fill='%23141414' points='127.9611 287.9577 255.9211 212.3207 127.9611 154.1587'/%3e%3cpolygon fill='%23393939' points='0.0009 212.3208 127.9609 287.9578 127.9609 154.1588'/%3e%3c/g%3e%3c/svg%3e");
  background-size: 100% 100%;
  height: 24px;
  width: 24px;
}













.item-flex {
  display: flex;
  flex-flow: row wrap;
  align-content: start;
}



.flex-card {
  flex: 0 0 20%;
  margin: 0px;
}


.flex-card .card {
  background: white;
  margin-left: 10px;
  margin-right: 10px;
}

.flex-card img {
  max-width: 100%;
  border: none;
}

@media only screen and (max-width: 1024px) {

  .flex-card {
    flex: 0 0 50%;
    margin: 0px;
  }

}
















.square {
  position: relative;
  width: 100%;
}

.square img {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}


.fixed-width-content {
  width: 1135px;
  max-width: 100%;
}

@media only screen and (max-width: 1024px) {
  .fixed-width-content {
    width: 100%;
    max-width: 100%;
  }

}





.disclaimer {
  font-size: 13px;
}






.ipfs-label,
.fork-label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}

.fork-output {
  border: 1px solid #cccccc;
  font-size: 13px;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  height: 300px;
  overflow-y: scroll;
}

.fork-output-simple {
  border: 1px solid #cccccc;
  font-size: 15px;
  width: 100%;
  max-width: 100%;
  padding: 5px;
  height: 65px;
  overflow-y: scroll;
}

.fork-status {
  font-size: 14px;
  padding: 10px;
  border: 1px solid #f1f1f1;
}

.fork-status .item label {
  font-weight: bold;
  display: inline-block;
  width: 180px;
}




.data-table .complete {
  text-decoration: line-through;
}


.attribute-value {
  width: 125px;
  border: 1px solid var(--f7-theme-color);
  border-radius: 5px;
  /* background: hwb(41 88% 0%); */
  display: inline-block;
  margin: 5px;
  text-align: center;
  vertical-align: top;
}

.attribute-value .trait-type {
  font-size: 12px;
  /* color: hwb(41 0% 45%); */
}

.attribute-value .value {
  font-size: 14px;
  font-weight: bold;
  /* color: rgb(53, 56, 64); */
}

.attribute-value .category-percent {
  font-size: 12px;
  /* color: rgb(112, 122, 131); */
}



.theme-id {
  font-size: 11px;
  color: #414141;
}






.fork-block {
  font-size: 14px;
}

.repo-name {
  display: flex;
}

.repo-name .left {
  flex: 0 0 260px;
}

.repo-name .right {
  flex: 1;
}

.repo-name strong {
  display: block;
}





.fab-right-center {
  right: calc(25% + 19px);
}

@media only screen and (max-width: 1024px) {
  .fab-right-center {
    right: calc(var(--f7-fab-margin) + var(--f7-safe-area-right));
  }
}








.channel-card-show .card-header {
  display: block;
  padding: 10px;
}


.channel-card-show .title {
  font-size: 22px;
  font-weight: bold;
  margin-top: 50px;
  text-align: left;
}

.channel-card-show .name,
.channel-card-show .contract-address {
  text-align: left;
}

.channel-card-show .name a {
  color: var(--f7-theme-color);
  font-weight: bold;
}

.channel-card-show .excerpt {
  font-size: 17px;
}

.channel-card-show .card-content img {
  display: block;
  max-width: 100%;
}

.channel-card-show .banner {
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.channel-card-show .avatar {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 25%;
  left: 10px;
  bottom: 0;
  margin-bottom: -50px;
  z-index: 10000;
  border: 3px solid #ffffff;
  font-size: 100px;
  background: #ffffff;
}

.channel-card-show a {
  color: var(--f7-text-color);
}

.channel-card-show .description {
  font-size: 17px;
  text-align: left;
  max-width: 100%;
}



.item-card {
  cursor: pointer;
}

.item-preview {
  width: 100%;
  display: flex;
}

.item-preview p {
  margin-top: 5px;
}

.item-card .title {
  color: #000000;
  font-size: 23px;
  font-weight: 700;
}

.item-preview .right {
  flex: 0 0 150px;
  /* do not grow, do not shrink, start at 250px */
}

.item-preview .right img {
  max-width: 100%;
}

.item-preview .left {
  flex: 1;
  /* grow */
}

.menu-dropdown-link.menu-close {
  color: #ffffff;
}

.channel-show-token-id {
  color: rgb(79, 79, 79);
}

.contract-address {
  margin-top: 10px;
  font-size: 12px;
}

#item-list {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}


input[type="text"]:disabled {
  background: #cccccc;
}



.collection-info {
  margin-top: 10px;
  margin-bottom: 15px;
}

.collection-info label {
  margin-right: 4px;
}

.collection-info .dot {
  margin-left: 10px;
  margin-right: 10px;
}








.animation-card {
  width: 100%;
  color: #000000;
}

@media only screen and (max-width: 1024px) {
  .animation-card {}
}

.animation-content {
  width: 100%;
  display: flex;
  overflow-y: hidden;
}

.animation-content:first-child {
  display: block;
}

.animation-content.animation-image {
  width: 700px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.animation-content.animation-image img {
  width: 100%;
  max-width: 100%;
}

@media only screen and (max-width: 1024px) {

  .animation-image,
  .animation-card {
    width: unset;
  }
}











.avatar-preview {
  max-width: 300px;
  max-height: 300px;
  border: 1px solid #cccccc;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 50%;
  width: 100%;
}

.cover-banner-preview {
  max-width: 100%;
  max-height: 200px;
  border: 1px solid #cccccc;
  padding: 5px;
  margin-bottom: 10px;
}

#browseButton {
  width: 250px;
}


.tagify--empty {
  height: 41px;
}

.category-name-label {
  font-weight: bold;
  width: 185px;
  display: inline-block;
}

.options-label {
  font-weight: bold;
  width: 300px;
  display: inline-block;
}

.category-name-input {
  border: 1px solid #cccccc;
  margin: 2px;
  width: 175px;
  display: inline-block;
}

.options-input {
  margin: 2px;
  width: 300px;
  display: inline-block;
}

.add-category-button,
.add-theme-button {
  width: 250px;
}

.theme-name,
.static-page-name {
  width: 150px;
  display: inline-block;
}

.theme-list,
.static-page-list {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;


}

.theme-link,
.static-page-link {
  margin-left: 10px;
}





.copyright-block,
.copyleft-block {
  padding: 25px;
  height: 400px;
}

.copyright-block ul,
.copyleft-block ul {
  height: 220px;
}

/* .copyright-block {
  border: 1px solid #cccccc;
}

.copyleft-block {
  border: 3px solid var(--f7-theme-color);
} */

@media only screen and (max-width: 1024px) {

  .copyright-block ul,
  .copyleft-block ul {
    height: 100px;
  }

  .copyright-block,
  .copyleft-block {
    height: 250px;
    font-size: 15px;
  }
}



#create-new-swiper {
  height: 700px;
}

.sticky-container {
  position: relative;
}

.sticky {
  z-index: 1000;
  position: sticky;
  top: 0;
  position: -webkit-sticky;
}


.footer-link {
  margin-right: 5px;
  margin-left: 5px;
  /* color: #FFFFFF; */
  display: inline-block;
}

.fab-right-bottom {
  margin-bottom: 60px;
  margin-right: 5px;
}

.welcome {
  font-size: 1em;
}


.item-show {
  display: grid;
  grid-template-columns: 75% 25%;
  gap: 10px;
}

.split-row, .split-row-both {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  margin-right: 10px;
}

.cancel-save-row {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 10px;
  margin-right: 10px;
}

.save-row {
  display: grid;
  grid-template-columns: 67% 33%;
}


@media only screen and (max-width: 1024px) {

  .item-show {
    display: grid;
    grid-template-columns: 100%;
  }

  .split-row {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
  }

  .cancel-save-row {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .save-row {
    display: grid;
    grid-template-columns: 100%;
  }



}




.input-with-button {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 10px;
}

.pin-status {
  margin-top: 15px;
}