<!--suppress JSAnnotator -->
<template>

  <div class="page" data-name="admin-create-item">

    <${Navbar} breadcrumbs=${breadcrumbs} />

    <div class="page-content hide-toolbar-on-scroll">

      <form class="list media-list" id="create-item-form" @submit="${formSubmit}">

        <${ItemForm} item=${itemViewModel} 
          themes=${themes}
          editor="create-item-editor" 
          toolbar="create-item-toolbar" 
          cover_image_css_editor_id="cover-image-css-editor"
          animation_css_editor_id="animation-css-editor"
          themes=${themes}
          cancel_link=${cancelLink}
        />

      </form>


    </div>
  </div>

</template>

<style>
  #create-item-editor {
    min-height: 175px;
    height: 100%;
    /* added these styles */
    flex: 1;
    display: flex;
    flex-direction: column;
  }
</style>


<script>

  import { ContainerService } from "../../../service/core/container-service"
  import { IpfsService } from "../../../service/core/ipfs-service"
  import { GitService } from "../../../service/core/git-service"

  import { QuillEditorService } from "../../../service/quill-editor-service"
  import { QuillService } from "../../../service/quill-service"

  import { ItemService } from "../../../service/item-service"
  import { ImageService } from "../../../service/image-service"
  import { ItemWebService } from "../../../service/web/item-web-service"

  import { WalletService } from "../../../service/core/wallet-service"
  import { UiService } from "../../../service/core/ui-service"

  import { Item } from "../../../dto/item"


  import Navbar from "../../admin/navbar.f7.html"
  import ItemForm from "../../admin/item/form.f7.html"
  import excerptHtml from 'excerpt-html'

  import moment from "moment"
  import hljs from "highlight.js"
  import Quill from "quill"

 


  export default (props, { $, $on, $f7, $update }) => {

    let quillEditorService = ContainerService.getInstance(QuillEditorService)
    let quillService = ContainerService.getInstance(QuillService)
    let uiService = ContainerService.getInstance(UiService)

    let itemService = ContainerService.getInstance(ItemService)
    let imageService = ContainerService.getInstance(ImageService)
    let itemWebService = ContainerService.getInstance(ItemWebService)
    let ipfsService = ContainerService.getInstance(IpfsService)
    let gitService = ContainerService.getInstance(GitService)

    let walletService = ContainerService.getWalletService()


    let itemViewModel = props.itemViewModel
    let themes = props.themes 

    let ipfsReady = false
    let cancelLink = `/admin/channel/show/${itemViewModel.channel._id}`


    let breadcrumbs = [{
        text: "Home",
        path: "/"
    }, {
        text: itemViewModel.channel.title,
        path: `/admin/channel/show/${itemViewModel.channel._id}`
    }, {
        text: 'Create Item'
    }]

    let toast

    let coverImageCSSQuillEditor
    let animationCSSQuillEditor

    hljs.configure({   // optionally configure hljs
      languages: ['css']
    });

    const formSubmit = async (e) => {

      e.preventDefault()

      //Initialize IPFS
      await ipfsService.init()

      //Initialize git's fs
      // await gitService.initFS(itemViewModel.channel)

      let formData = $f7.form.convertToData('#create-item-form')

      let showExcerpt = false 


      //Get data
      let item = Object.assign(new Item(), formData)

      item.coverImageAsAnimation = (formData.coverImageAsAnimation[0] != "on") 


      //Get content from quill
      item.content = quillEditorService.activeEditor.getContents()
      item.coverImageCSS = coverImageCSSQuillEditor.getText() != "\n" ? coverImageCSSQuillEditor.getText() : undefined
      item.animationCSS = animationCSSQuillEditor.getText() != "\n" ? animationCSSQuillEditor.getText() : undefined


      //Parse attributes
      item.attributeSelections = JSON.parse(item.attributeSelections).map(as => {
        return {
          id: as.id,
          traitType: as.traitType,
          value: as.value
        }
      })


      //Build contentHTML for searching
      item.contentHTML = await quillService.translateContent(item.content, true)

      //Save the cover image if necessary
      let coverImage = await itemWebService.saveGeneratedCoverImage(item)
      item.coverImageGenerated = coverImage.generated

      //And the animation
      item.tokenId = await itemService.getNextTokenId(item.channelId) //Will get overwritten when saved but we need it for the animation

      if (!item.coverImageAsAnimation) {
        await itemWebService.saveAnimation(item)
      }

      //Save
      try {

        uiService.showSpinner()


        await itemWebService.put({
                channel: itemViewModel.channel,
                item: item,
                updateQueryCache: true,
                publish: false
        })

        const toast = $f7.toast.show({
          text: 'Item created',
          closeTimeout: 2000,
          closeButton: true,
          position: 'bottom',
          horizontalPosition: 'left'
        })




        //Redirect
        $f7.views.main.router.navigate(`/admin/channel/show/${item.channelId}/${item.tokenId}`)


      } catch (ex) {
        console.log(ex)
        $f7.dialog.alert(ex.errors, "There was an error")
      }

    }

    $on('pageInit', async (e, page) => {

      quillEditorService.buildQuillPostEditor("#create-item-editor", "#create-item-toolbar")

      quillEditorService.activeEditor.root.addEventListener('blur', function () {
        document.dispatchEvent(new CustomEvent('load-cover-images'))
      })

      quillEditorService.activeEditor.on('text-change', (delta, oldContents, source) => {

        document.dispatchEvent(new CustomEvent('load-cover-images'))

        if (source !== 'user') return

        function getImgUrls(delta) {
          return delta.ops.filter(i => i.insert && i.insert.ipfsimage).map(i => i.insert.ipfsimage)
        }

        //Get images that have been removed. 
        const deleted = getImgUrls(quillEditorService.activeEditor.getContents().diff(oldContents))

        //Remove them from the images array
        deleted.forEach(img => {

          itemViewModel.images = itemViewModel.images.filter(i => i.cid != img.cid)

          if (img.cid == itemViewModel.coverImage?.cid) {
            itemViewModel.coverImage = undefined
          }

        })
        
      })

      $('.image-button').off('click')
      $('.image-button-input').off('click')

      $('.image-button').on('click', function (e) {
        e.preventDefault()

        const imageButtonInput = $(".image-button-input")
        imageButtonInput.click()

      })

      $('.image-button-input').on('change', async function (e) {
        e.preventDefault()
        await quillEditorService.imageSelected(this)
      })




      //Cover image
      coverImageCSSQuillEditor = new Quill('#cover-image-css-editor', {
        bounds: ".page-content",
        theme: "snow",
        modules: {
          syntax: {
            highlight: text => hljs.highlightAuto(text).value,
          },          
          toolbar: false
        }
      })
      
      coverImageCSSQuillEditor.on('text-change', (delta, oldContents, source) => {
        document.dispatchEvent(new CustomEvent('update-cover-image-css', {
          detail: {
            coverImageCSS:  coverImageCSSQuillEditor.getText() != "\n" ? coverImageCSSQuillEditor.getText() : undefined
          }
        }))
      })


      animationCSSQuillEditor = new Quill('#animation-css-editor', {
        bounds: ".page-content",
        theme: "snow",
        modules: {
          syntax: {
            highlight: text => hljs.highlightAuto(text).value,
          },          
          toolbar: false
        }
      })


      coverImageCSSQuillEditor.setText(".svg-h1 {}")
      animationCSSQuillEditor.setText(".animation-container {}")
      



      await $update()
      uiService.showSpinner()


      //Initialize git's fs
      // await gitService.initFS(itemViewModel.channel)

      //Initialize IPFS
      await ipfsService.init()
      ipfsReady = ipfsService.ipfs != undefined


      const ipfsReadyEvent = new CustomEvent('ipfs-ready')
      document.dispatchEvent(ipfsReadyEvent)


      uiService.hideSpinner()
      await $update()


    })

    $on('pageBeforeRemove', () => {
      // Destroy toasts when page removed
      // if (toast) toast.destroy()
    })




    return $render
  }

</script>