<!--suppress JSAnnotator -->
<template>

    <div class="item-show">

        <input type="hidden" name="_id" value="${itemViewModel?.item?._id}" />
        <input type="hidden" name="_rev" value="${itemViewModel?.item?._rev}" />
        <input type="hidden" name="dateCreated" value="${itemViewModel?.item?.dateCreated}" />
        <input type="hidden" name="tokenId" value="${itemViewModel?.item?.tokenId}" />
        <input type="hidden" name="channelId" value="${itemViewModel?.channel?._id}" />

        <div class="left">
            <div class="card">
                <div class="card-content">
    
                    <div class="list">
                        <ul>
                            <li>
                                <div class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="item-title item-label">Title</div>
                                        <div class="item-input-wrap">
                                            <input type="text" name="title" placeholder="Title"
                                                value="${itemViewModel?.item?.title}" id="title-header-input"
                                                @input="${titleOnInput}" />
                                        </div>
                                    </div>
                                </div>
                            </li>
    
                            <li>
                                <div class="item-content item-input">
                                    <div class="item-inner post-area">
                                        <div class="item-title item-label">Content</div>
    
                                        <div id="${toolbarId}">
    
                                            <select class="ql-header">
                                                <option selected></option>
                                                <option value="1">Heading</option>
                                                <option value="2">Subheading</option>
                                            </select>
    
    
                                            <!-- Add a bold button -->
                                            <button class="ql-bold"></button>
                                            <button class="ql-italic"></button>
                                            <button class="ql-strike"></button>
                                            <button class="ql-underline"></button>
                                            <button class="ql-link"></button>
                                            <button class="ql-list" value="ordered"></button>
                                            <button class="ql-list" value="bullet"></button>
    
    
                                            <!-- Add subscript and superscript buttons -->
                                            <button class="ql-script" value="sub"></button>
                                            <button class="ql-script" value="super"></button>
    
                                            <button class="text-editor-button image-button"><i
                                                    class="material-icons">image</i></button>
                                            <label><input type="file" class="image-button-input" /></label>
                                        </div>
    
                                        <div class="editor bg-color-white text-color-black" id="${editorId}"></div>
                                    </div>
                                </div>
                            </li>
    
    
    
                            <li class="cover-photo-preview">
    
                                ${itemViewModel?.coverImage ? $h`
                                <input type="hidden" name="coverImageId" value="${itemViewModel?.coverImage?.cid}" />
                                ` : $h`
                                <input type="hidden" name="coverImageId" value="" />
                                `}
    
                                <div class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="item-title item-label">
                                            Cover Image
                                            <div class="item-footer">If there is no image in the content then an SVG cover image will be generated.</div>
                                        </div>
                                        <div class="item-input-wrap">
    
                                            ${itemViewModel?.images?.length > 0 ? $h`
    
                                                ${itemViewModel?.images?.map( (image) => $h`
                                                    <img class="cover-image-thumbnail ${ (  (image?.cid == itemViewModel.coverImage?.cid) || (itemViewModel.coverImage == undefined && image.generated == true) )  ? 'selected' : ''}  "
                                                        src="${image?.url}" data-id="${image?.cid}" @click=${coverImageClick} />
                                                `)}
    
                                            ` : $h`
    
                                                <p>No images</p>
    
                                            `}
    
                                            <button class="button button-outline clear-button margin-bottom"
                                                @click="${coverImageClearClick}">Clear</button>
    
                                        </div>
                                    </div>
                                </div>
    
                            </li>    
                            <li>
                                <label class="item-checkbox item-content">
    
                                    <input type="checkbox" checked="${!itemViewModel.item.coverImageAsAnimation}" name="coverImageAsAnimation" @change="${coverImageAsAnimationOnClick}" />
                                    
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <div class="item-header"></div>
                                            Generate Animation HTML
                                            <div class="item-footer">
                                            Include full text. Otherwise only the cover image will be shown.
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">Customize</div>
                <div class="card-content">
                    <div class="list">
                        <ul>
                            <li>
                                <a href="#" class="item-link smart-select smart-select-init" data-open-in="popup">
                                    <!-- "multiple" attribute for multiple select-->
                                    <select name="themes" @change="${themeSelectionChange}" tabindex="2" multiple>
                                        <optgroup>
                                            ${themes?.map( (theme) => $h`
    
                                                ${itemViewModel.item?.themes?.includes(theme._id) ? $h`
                                                    <option value="${theme._id}" selected>${theme.name}</option>
                                                    ` : $h`
                                                    <option value="${theme._id}">${theme.name}</option>
                                                `}
    
                                            `)}
                                        </optgroup>
                                    </select>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Choose Theme(s)</div>
                                        </div>
                                    </div>
                                </a>
                            </li>
    
                            <li class="accordion-item">
                                <a href="" class="item-link item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Edit Cover Image CSS (SVG)</div>
                                    </div>
                                </a>
                                <div class="accordion-item-content">
                                    <div class="editor bg-color-white text-color-black css-editor" id="${coverImageCSSEditorId}" tabindex="3"></div>
                                </div>
                            </li>
    
                            ${showAnimationCss ? $h`
                                <li class="accordion-item">
                                    <a href="" class="item-link item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Edit Animation CSS (HTML)</div>
                                        </div>
                                    </a>
                                    <div class="accordion-item-content">
                                        <div class="editor bg-color-white text-color-black css-editor" id="${animationCSSEditorId}" tabindex="4"></div>
                                    </div>
                                </li>
                            ` : $h`
                                <li class="accordion-item" style="display:none;">
                                    <a href="" class="item-link item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Edit Animation CSS (HTML)</div>
                                        </div>
                                    </a>
                                    <div class="accordion-item-content">
                                        <div class="editor bg-color-white text-color-black css-editor" id="${animationCSSEditorId}" tabindex="4"></div>
                                    </div>
                                </li>
    
    
                            `}
    
    
                        
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="right">

            <div class="sticky">

                <div class="card">
                    <div class="card-content card-content-padding" style="background: #f1f1f1;">
                        <div class="segmented">
       
                            <a href="${cancelLink}" class="button button-outline color-gray" tabindex="12">Cancel</a>
                
                            ${ipfsReady ? $h`
                              <button type="submit" class="button button-fill" tabindex="12">Save</button>
                            ` : $h`
                              <button class="button button-outline color-lightblue" tabindex="12" disabled>IPFS initializing...</button>
                            `}
                
                        </div>
                    </div>
                </div>
            </div>

            ${itemViewModel.attributeSelections?.length > 0 ? $h`
                <div class="card">
                    <div class="card-header">Attributes</div>
                    <div class="card-content">
                        <div class="list">
                            <ul>
                                ${itemViewModel.attributeSelections?.map( (attributeSelectionViewModel) => $h`
                                <li>
                                    <a href="#" class="item-link smart-select smart-select-init" data-open-in="popover">
                                        <!-- "multiple" attribute for multiple select-->
                                        <select @change="${valueNameChange}" tabindex="2" data-id="${attributeSelectionViewModel?.id}">
                                            ${attributeSelectionViewModel?.values?.map( v => $h`

                                                ${attributeSelectionViewModel?.value?.toString() == v.toString() ? $h`
                                                <option value="${v}" selected>${v}</option>
                                                ` : $h`
                                                <option value="${v}">${v}</option>
                                                `}

                                            `)}
                                        </select>
                                        <div class="item-content">
                                            <div class="item-inner">
                                                <div class="item-title">${attributeSelectionViewModel?.traitType}</div>
                                            </div>
                                        </div>
                                    </a>
                                </li>


                                `)}
                            </ul>
                        </div>
                    </div>
                </div>
            ` : $h``}




        </div>



        <input type="hidden" name="attributeSelections" value="${JSON.stringify(attributeSelections)}" />

    </div>




</template>

<style>
    .cover-image-thumbnail {
        width: 250px;
        height: 250px;
    }

    .cover-image-thumbnail.selected {
        border: 3px solid #ff0000;
    }

    #title-header-input {
        line-height: 30px;
        font-size: 30px;
        font-weight: 700;
        height: 50px;
    }

    .clear-button {
        width: 100px;
    }
</style>


<script>

    import { ContainerService } from "../../../service/core/container-service"
    import { QuillEditorService } from "../../../service/quill-editor-service"
    import { QuillService } from "../../../service/quill-service"

    import { ImageService } from "../../../service/image-service"
    import { ItemWebService } from "../../../service/web/item-web-service"

    import { v4 as uuidv4 } from 'uuid';


    export default (props, { $, $on, $f7, $update }) => {

        let quillEditorService = ContainerService.getInstance(QuillEditorService)
        let quillService = ContainerService.getInstance(QuillService)
        let itemWebService = ContainerService.getInstance(ItemWebService)

        let imageService = ContainerService.getInstance(ImageService)




        const loadCoverImages = async () => {

            itemViewModel.images = await itemWebService.getImagesFromContent({
                title: itemViewModel.item.title,
                content: {
                    ops: quillEditorService.activeEditor.getContents().ops
                },
                coverImageCSS: itemViewModel.item.coverImageCSS,
                themes: itemViewModel.item.themes
            })


            //If we just have the text based one select it.
            if (itemViewModel.images?.length == 1) {
                itemViewModel.coverImage = itemViewModel.images[0]
            }

            quillEditorService.activeEditor.update()

            await $update()

        }

        const coverImageClick = async (e) => {

            let id = $(e.currentTarget).data('id')

            let matches = itemViewModel?.images.filter(i => i.cid == id)

            if (matches?.length > 0) {
                itemViewModel.coverImage = matches[0]
            }

            await $update()
        }

        const coverImageClearClick = async (e) => {

            e.preventDefault()

            itemViewModel.coverImage = undefined

            await $update()
        }

        const valueNameChange = async (e) => {

            let id = $(e.currentTarget).data('id')


            attributeSelections.filter(as => as.id == id)[0].value = $(e.currentTarget).val()


            await $update()

        }

        const themeSelectionChange = async (e) => {

            let themes = $(e.currentTarget).val()

            itemViewModel.item.themes = themes

            await $update()

            await loadCoverImages()

        }

        const setAttributeSelections = (as) => {

            attributeSelections = as

            //Set defaults for any that are not set.
            for (let attributeSelection of attributeSelections) {
                if (!attributeSelection.value && attributeSelection.values?.length > 0) {
                    attributeSelection.value = attributeSelection.values[0]
                }
            }


        }

  
        const titleOnInput = (e) => {

            let value = $(e.currentTarget).val();

            itemViewModel.item.title = value

            document.dispatchEvent(new CustomEvent('load-cover-images'))

        }


        const coverImageAsAnimationOnClick = (e) => {
            
            showAnimationCss = $(e.currentTarget).prop('checked')

            $update()

        }


        let itemViewModel = props.item
        let editorId = props.editor
        let toolbarId = props.toolbar

        let themes = props.themes
        let ipfsReady
        let cancelLink = props.cancel_link

        let attributeSelections

        let originalCoverImage = itemViewModel.coverImage

        let coverImageCSSEditorId = props.cover_image_css_editor_id
        let animationCSSEditorId = props.animation_css_editor_id


        let showAnimationCss = !itemViewModel.item.coverImageAsAnimation

        if (itemViewModel) {
            setAttributeSelections(itemViewModel.attributeSelections)
        }


        $(document).on('image-selected', async (e) => {
            itemViewModel.coverImage = await imageService.get(e.detail._id)
            await loadCoverImages()
        })

        $(document).on('update-cover-image-css', async (e) => {
            itemViewModel.item.coverImageCSS = e?.detail?.coverImageCSS
            await loadCoverImages()
        })

        $(document).on('load-cover-images', async (e) => {
            await loadCoverImages()
        })

        $(document).on('ipfs-ready', async (e) => {
            ipfsReady = true
            await $update()
        })

        return $render
    }


</script>