<template>

  <div class="page" data-name="admin-show-item">

    <${Navbar} breadcrumbs=${breadcrumbs} />

    ${itemViewModel.editable ? $h`
      <div class="fab fab-extended fab-right-bottom">
        <a href="/admin/item/create/${itemViewModel.channel._id}">
          <i class="material-icons">create</i>
          <div class="fab-text">Create Item</div>
        </a>
      </div>
    ` : $h``} 


    <div class="page-content hide-toolbar-on-scroll">

      <div class="item-show">

        <div class="left">
          <div class="card animation-card">
            <div class="card-content ${itemViewModel.item.coverImageAsAnimation ? $h`card-content-padding` : $h` `}">
  
              ${itemViewModel.item.coverImageAsAnimation ? $h`
                <div class="animation-content animation-image">
                  <img src="${itemViewModel.coverImage?.url}" />
                </div>
               
              ` : $h`
                <div class="animation-content" innerHTML="${itemViewModel.animationContentHTML}"></div>
  
              `}
  
            </div>
  
  
          </div> 
  
          <div class="block split-row-both">
  
            ${itemViewModel.previous ? $h`
              <a class="button button-outline back-token-button margin-bottom color-gray" href="/admin/channel/show/${itemViewModel.channel._id}/${itemViewModel.previous}">
                <i class="icon f7-icons color-blue">arrow_left</i>
              </a>
            ` : $h`<span />`}
  
    
            ${itemViewModel.next ? $h`
              <a class="button button-fill continue-button margin-bottom" href="/admin/channel/show/${itemViewModel.channel._id}/${itemViewModel.next}" data-transition="f7-cover">
                Continue <i class="f7-icons">arrow_right</i>
              </a>
            ` : $h`<span />`}
  
          </div>
        </div>

        <div class="right">

          <${TokenNavigator} channel=${itemViewModel.channel._id} item=${itemViewModel} />
  
  
          ${itemViewModel.previous || itemViewModel.next ? $h`
            
            <div class="card large-only">
              <div class="card-content card-content-padding">
                <div class="segmented">
  
                  ${itemViewModel.previous ? $h`
                    <a class="button button-outline" href="/admin/channel/show/${itemViewModel.channel._id}/${itemViewModel.previous}">
                      <i class="icon f7-icons">arrow_left</i>
                    </a>
                  ` : $h`
                    <a class="button button-outline" href="#"></a>
                  `}
        
                  ${itemViewModel.next ? $h`
                    <a class="button button-outline" href="/admin/channel/show/${itemViewModel.channel._id}/${itemViewModel.next}" data-transition="f7-cover">
                      <i class="f7-icons">arrow_right</i>
                    </a>
                  ` : $h`
                    <a class="button button-outline" href="#"></a>
                  `}
  
                </div>
              </div>
            </div>
  
          ` : $h`<span />`}
  
  
          ${itemViewModel.editable ? $h`
            <div class="card">
              <div class="card-header">Modify</div>
              <div class="card-content card-content-padding">
  
                <div class="segmented col-100">
  
                  <a class="button button-outline " href="/admin/channel/${itemViewModel.channel._id}/item/edit/${itemViewModel.item._id}" id="edit-${itemViewModel.item._id}">Edit</a>
                  <a class="button button-outline " href="#" data-id="${itemViewModel.item._id}" @click="${cloneClick}">Clone</a>
  
                  ${itemViewModel.canDelete ? $h`
                    <a class="button button-outline" @click="${deleteClick}">
                      <i class="material-icons">delete</i>
                    </a>
                  ` : $h`<span/>`}
  
                </div>
  
                ${!itemViewModel.canDelete ? $h`
                  <p>Note: Only the last NFT can be deleted.</p>
                ` : $h`<span />`}
  
  
              </div>
  
  
  
            </div>          
          ` :$h`<span />`}
          
  
  
          <div class="card">
            <div class="card-header">
              <span>
                <i class="material-icons">person</i>
                <label>Info</label>
              </span>
            </div>
            <div class="card-content data-table">
  
              <table>
                <tbody>
  
                  ${itemViewModel?.authorDisplayName ? $h`
                    <tr>
                      <td class="label-cell">Creator:</td> 
                      <td><a href="/admin/author/show/${itemViewModel?.author?._id}">${itemViewModel?.authorDisplayName}</a></td>
                    </tr>  
                  ` : $h`<span />`}
  
                  <tr>
                    <td class="label-cell">Date:</td> 
                    <td><span class="date">${itemViewModel.dateDisplay}</span></td>
                  </tr>
  
                </tbody>
              </table>
  
  
            </div>
          </div>
  
          <div class="card">
            <div class="card-header">
              <span>
                <i class="material-icons">label</i>
                <label>Attributes</label>
              </span>
            </div>
            <div class="card-content data-table">
  
              <div class="button-outline attribute-value">
                <div class="trait-type">Token ID</div>
                <div class="value">#${itemViewModel.item.tokenId}</div>
              </div>
  
              ${itemViewModel.attributeSelections?.map(as => $h`
  
                ${as.value ? $h`
                  <div class="button-outline attribute-value">
                    <div class="trait-type">${as.traitType}</div>
                    <div class="value">${as.value}</div>
                    <div class="category-percent">${as.categoryPercent} have this trait</div>
                  </div>
                ` : $h`<span />`}
  
              `)}
  
            </div>
          </div>
  
          ${itemViewModel.themes?.length > 0 ? $h`
  
            <div class="card">
              <div class="card-header">Theme(s)</div>
              <div class="card-content">
                
                ${itemViewModel.themes?.map( (theme) => $h`
  
                  <div class="button-outline attribute-value">
                    <div class="value">${theme.name}</div> <span class="theme-id">${theme._id}</span>
                  </div>
  
                `)}
              </div>
            </div>
  
          ` : $h`<span/>`}
  
  
  
  
          ${!itemViewModel.item.coverImageAsAnimation ? $h`
            <div class="card">
              <div class="card-header">Cover Image</div>
              <div class="card-content">
                <div class="square">
                  <img src="${itemViewModel.coverImage?.url}" class="cover-image-preview" />
                </div>
              </div>
            </div>
           
          ` : $h`<span />`}
  
  
  
  
        </div>
  
      </div>

    </div>

  </div>

</template>


<style>




  /* .item-card-show a {
    color: var(--f7-text-color);
  } */


  .menu-dropdown-link.menu-close {
    color: #ffffff;
  }


  .attribute-row {
    font-size: 16px;
    vertical-align: top;
  }

  .attribute-row strong {
    width: 175px;
    display: inline-block;
    vertical-align: top;
  }


  .attribute-row .material-icons {
    line-height: 16px;
    display: inline-block;
    vertical-align: middle;
  }

  .item-show-footer {
    font-size: 14px;
  }

  .card-header {
    line-height: 21px;
  }

  .card-header label {
    padding-bottom: 3px;
    margin-left: 5px;
    float: left;
  }

  .card-header .material-icons {
    float: left;
  }

  .item-show-token-id {
    color: rgb(79, 79, 79);
  }

  .cover-image-preview {
    max-width: 100%;
  }

  .animation-preview {
    margin-left: 5px;
    height: 500px; 
    width: 500px;
    max-width: 100%;
    border: 1px solid #cccccc;
  }


  .nft-header-row {
    display: flex;  
  }

  .nft-header-row .left {
    flex: 0 0 500px;
  }

  .nft-header-row .right {
    flex: 1;
  }

  .nft-header-row .right h1 {
    font-size: 25px;
  }

  .nft-header-row .right h4 {
    margin-bottom: 0px;
  }





@media only screen and (max-width: 1024px) {

  .nft-header-row {
    display: block;  
  }
  
  .nft-header-row .left {
    width: 100%;
  }
  
  .nft-header-row .right {
    width: 100%;
  }
  
}


.theme-name {
  display: block;
}

.main-header {

}


</style>

<script>

  import { ContainerService } from "../../../service/core/container-service"
  import { UiService } from "../../../service/core/ui-service"
  import { ItemService } from "../../../service/item-service"
  import TokenNavigator from "../channel/token-navigator.f7.html"
  import { ItemWebService } from "../../../service/web/item-web-service"

  import Navbar from "../../admin/navbar.f7.html"

  import hotkeys from 'hotkeys-js'

  export default (props, { $, $on, $f7, $update }) => {

    let itemService = ContainerService.getInstance(ItemService)
    let uiService = ContainerService.getInstance(UiService)
    let itemWebService = ContainerService.getInstance(ItemWebService)

    let itemViewModel = props.itemViewModel
    // console.log(itemViewModel)
    
    let showEdit = itemViewModel.editable

    let breadcrumbs = [{
        text: "Home",
        path: "/"
    }, {
        text: itemViewModel.channel.title,
        path: `/admin/channel/show/${itemViewModel.channel._id}`
    }, {
        text: itemViewModel.item.title ? itemViewModel.item.title : `#${itemViewModel.item.tokenId}`
    }]


    $on('pageInit', async (e, page) => {

      //Add external to any links in the doc
      $(`#item-content-${itemViewModel.item._id} a`).addClass('external')

      await $update()

    })

    const deleteClick = async (e) => {

      try {

        $f7.dialog.confirm(
          "Do you want to delete this item? Note: This only deletes from your device.",
          async function () {

            await itemWebService.delete(itemViewModel.item)

            const toast = $f7.toast.show({
              text: 'Item deleted',
              closeTimeout: 2000,
              closeButton: true,
              position: 'bottom',
              horizontalPosition: 'left'
            })

            //Redirect
            $f7.views.main.router.navigate(`/admin/channel/show/${itemViewModel.channel._id}`)
          }
        )

      } catch (ex) {
        uiService.showExceptionPopup(ex)
      }

    }

    const cloneClick = async (e) => {

      let clone = await itemWebService.clone(itemViewModel.item)

      // console.log(`/admin/channel/show/${itemViewModel.channel._id}/${clone.tokenId}`)

      $f7.views.main.router.navigate(`/admin/channel/${itemViewModel.channel._id}/item/edit/${clone._id}`)


    }


    return $render
  }

</script>